# EDA

## 1999 - 2000

In [1]:
# Necessary imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load DEMO.xpt file in src/Data/Demographics directory
demographic_1999_2000 = pd.read_sas("../Data/Demographics/DEMO.XPT")
pd.set_option('display.max_columns', None)
demographic_1999_2000.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,DMQMILIT,DMDBORN,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDEDUC,DMDSCHOL,DMDMARTL,DMDHHSIZ,INDHHINC,INDFMINC,INDFMPIR,RIDEXPRG,RIDPREG,DMDHRGND,DMDHRAGE,DMDHRBRN,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTINT4YR,WTMEC2YR,WTMEC4YR,SDMVPSU,SDMVSTRA,SDJ1REPN,DMAETHN,DMARACE,WTMREP01,WTMREP02,WTMREP03,WTMREP04,WTMREP05,WTMREP06,WTMREP07,WTMREP08,WTMREP09,WTMREP10,WTMREP11,WTMREP12,WTMREP13,WTMREP14,WTMREP15,WTMREP16,WTMREP17,WTMREP18,WTMREP19,WTMREP20,WTMREP21,WTMREP22,WTMREP23,WTMREP24,WTMREP25,WTMREP26,WTMREP27,WTMREP28,WTMREP29,WTMREP30,WTMREP31,WTMREP32,WTMREP33,WTMREP34,WTMREP35,WTMREP36,WTMREP37,WTMREP38,WTMREP39,WTMREP40,WTMREP41,WTMREP42,WTMREP43,WTMREP44,WTMREP45,WTMREP46,WTMREP47,WTMREP48,WTMREP49,WTMREP50,WTMREP51,WTMREP52,WTIREP01,WTIREP02,WTIREP03,WTIREP04,WTIREP05,WTIREP06,WTIREP07,WTIREP08,WTIREP09,WTIREP10,WTIREP11,WTIREP12,WTIREP13,WTIREP14,WTIREP15,WTIREP16,WTIREP17,WTIREP18,WTIREP19,WTIREP20,WTIREP21,WTIREP22,WTIREP23,WTIREP24,WTIREP25,WTIREP26,WTIREP27,WTIREP28,WTIREP29,WTIREP30,WTIREP31,WTIREP32,WTIREP33,WTIREP34,WTIREP35,WTIREP36,WTIREP37,WTIREP38,WTIREP39,WTIREP40,WTIREP41,WTIREP42,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
0,1.0,1.0,2.0,2.0,2.0,2.0,29.0,31.0,4.0,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0,0.86,NaN,NaN,2.0,27.0,1.0,3.0,5.0,NaN,9727.078709,4291.490177,10982.898896,4456.206594,1.0,5.0,19.0,NaN,NaN,11045.788977,11537.655236,11052.382347,10981.994952,11304.027822,11788.403531,10982.143653,11882.032570,11082.382400,10910.758054,11152.686308,11368.378721,11639.065727,10982.085565,10968.688468,11014.937015,11786.119318,11158.422538,5.397605e-79,10982.853644,11079.763590,10981.331840,10997.244146,10981.440039,10979.467025,11608.248087,10987.995656,11347.581698,11354.100184,1.116879e+04,10988.948660,11108.697491,11057.813142,11120.884136,11885.457494,1.100735e+04,10819.874783,11179.916627,11031.809444,11002.862393,1.147512e+04,10937.054393,11431.548739,11197.627101,10976.246652,11372.168411,1.132356e+04,11145.175931,10990.797087,11728.073781,10927.615791,11655.082962,9787.450653,10190.660048,9789.596326,9727.078709,10129.044412,10284.424282,9727.078709,10436.053876,9816.985842,9664.796657,9845.871036,10011.321962,10234.820086,9727.078709,9727.078709,9757.028296,10257.405752,9884.906307,5.397605e-79,9727.078709,9789.575929,9727.078709,9727.078709,9727.078709,9727.078709,10244.119262,9757.028296,9953.666336,10026.450542,9.897641e+03,9731.353903,9836.711023,10104.421527,9835.451792,10438.851416,9.749358e+03,9796.889731,9903.459188,9761.917340,9745.268584,1.018304e+04,9694.540278,10094.017100,9912.461855,9727.078709,10041.524113,9.953956e+03,9857.381983,9865.152486,10327.992682,9809.165049,10323.315747
1,2.0,1.0,2.0,2.0,1.0,77.0,926.0,926.0,3.0,1.0,1.0,1.0,1.0,NaN,NaN,5.0,3.0,NaN,NaN,1.0,8.0,8.0,5.00,NaN,NaN,1.0,77.0,1.0,5.0,NaN,NaN,26678.636376,14203.335998,28325.384898,15336.199717,3.0,1.0,36.0,NaN,NaN,28595.040267,28487.809685,28277.212462,28428.863410,28689.509720,28554.443486,28953.832384,28865.193352,28816.149227,29009.334987,29511.004111,28799.450760,28520.261868,28824.621526,29838.478522,29014.725094,28886.146010,28570.071060,2.917548e+04,28406.076068,28540.729067,28382.112985,28669.314178,29011.196680,28374.504042,28662.460256,29861.914559,28771.558452,28798.755746,2.887700e+04,28493.224258,29903.412316,29153.224951,28503.964835,28443.983215,5.397605e-79,28467.040801,29037.400734,29042.380302,28435.895232,2.911036e+04,29373.664736,28924.957080,29016.385749,29874.143718,29559.795821,2.987449e+04,28364.509723,28525.592280,28965.388416,29143.509564,28705.128975,26923.620662,26824.717835,26631.355602,26777.074594,27018.552264,26904.614980,27241.302235,27198.787165,27099.417824,27293.981410,27701.658797,27220.559042,26875.742441,27203.215115,28289.913957,27504.820547,27171.693965,26894.201918,2.742468e+04,26730.099404,26885.349161,26732.989332,26939.626877,27208.479126,26716.513970,26979.277637,27961.236425,27519.241428,27120.349327,2.720840e+04,26827.815969,28153.656904,27401.252011,26823.593233,27228.739617,5.397605e-79,26814.710645,27224.136990,27343.860382,26786.594688,2.740426e+04,27595.649515,27186.728682,27324.345051,28099.663528,27757.066921,2.804929e+04,26716.602006,26877.704909,27268.025234,27406.383620,26984.812909
2,3.0,1.0,2.0,1.0,2.0,10.0,125.0,126.0,3.0,1.0,NaN,3.0,2.0,2.0,3.0,NaN,1.0,1.0,NaN,4.0,6.0,6.0,1.47,NaN,NaN,1.0,37.0,3.0,4.0,1.0,3.0,43621.680548,20123.763507,46192.256945,21258.466625,2.0,7.0,30.0,NaN,NaN,46829.650831,46309.917771,46191.687530,46603.585925,46638.379990,47073.297625,47186.987235,46720.914215,47371.667109,46703.108582,48675.068638,47567.231065,47042.788521,47095.644034,49158.399643,48733.459258,46662.024729,47012.401548,4.708848e+04,46842.111309,46711.955056,46191.733328,47000.058842,46411.983985,46191.177933,46430.749663,48456.319109,47537.523414,46390.531908,5.397605e-79,46265.548508,48571.404399,46904.271008,46411.338345,47430.195812,4.674089e+04,46191.710629,46798.279423,46940.618480,46353.765213,4.767654e+04,47629.578803,46579.639702,46707.762423,49637.450326,47746.234623,4.672778e+04,46686.213166,47504.119125,47206.143524,48250.803538,46363.581943,44489.186741,43736.673286,43621.680548,43964.278092,43956.596942,44396.200928,44432.410422,44133.062950,44684.839160,44304.079445,45711.849140,44886.927689,44507.450411,45325.284393,46199.091001,45798.642017,44086.710554,44397.650188,4.469852e+04,44174.267902,44171.403948,43621.680548,44326.006874,43816.318911,43621.680548,43880.912077,45853.267944,44814.551656,43885.337891,5.397605e-79,43691.069032,45952.824543,44150.487123,43800.456021,44709.564994,4.438938e+04,43621.680548,44068.616263,44332.639094,43767.009397,4.488636e+04,45015.720872,43993.193099,44075.386428,46642.563799,44967.681579,4.457248e+04,44087.945688,44831.370881,44480.987235,45389.112766,43781.905637
3,4.0,1.0,2.0,2.0,1.0,1.0,22.0,23.0,4.0,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0,3.0,3.0,0.57,NaN,NaN,2.0,34.0,1.0,3.0,4.0,NaN,10346.119327,4582.132308,10251.260020,4562.389068,1.0,2.0,47.0,NaN,NaN,10301.751273,10693.773854,10316.455470,10250.416293,10765.239992,10631.594178,10250.555088,10846.616356,10389.726260,10419.681777,10410.644323,10470.139201,10780.563892,10250.500870,10237.996237,10266.450218,10776.922385,10385.185006,1.037302e+04,10251.217782,10444.978546,10249.797355,10264.649643,10249.898346,10248.056767,10803.698074,10241.339579,10440.220583,10574.666953,1.040287e+04,10201.964104,10343.807786,10524.956397,10345.462617,11236.714805,1.027408e+04,10288.780888,10454.650385,10263.959697,10276.952973,1.067099e+04,10279.076569,10601.255337,10425.580214,10245.050923,10542.918217,5.397605e-79,10431.037828,10530.151957,10753.405668,10479.950791,10910.423979,10401.969958,10798.969374,10412.615626,10346.119327,10868.583749,10734.329598,10346.119327,10932.388632,10487.390448,10517.698395,10473.303671,10568.957408,10865.803865,10346.119327,10346.119327,10363.133043,10829.240722,10483.497790,1.047042e+04,10346.119327,10526.899335,10346.119327,10346.119327,10346.119327,10346.119327,10890.470386,10363.133043,10540.663427,10677.139838,1.051805e+04,10294.998516,10437.525742,10607.706557,10438.987278,11355.685406,1.036982e+04,10385.567911,10552.965472,10365.897561,10372.591868,1.077867e+04,10382.677829,10702.307249,10531.444441,10346.119327,10636.063039,5.397605e-79,10533.108939,10654.749584,10851.024385,10564.981435,11012.529729
4,5.0,1.0,2.0,2.0,1.0,49.0,597.0,597.0,3.0,1.0,1.0,1.0,1.0,NaN,NaN,5.0,3.0,NaN,1.0,3.0,11.0,11.0,5.00,NaN,NaN,2.0,42.0,3.0,4.0,1.0,NaN,91050.846620,44161.868201,99445.065735,45985.967832,2.0,8.0,41.0,NaN,NaN,100344.688569,100213.183486,99530.738054,100036.557675,100789.824860,101061.234761,101883.027042,101117.974792,100869.039828,101768.139216,102611.941501,101829.651910,100098.756262,102463.971064,105667.423164,103689.537439,101531.848279,100611.625682,1.017036e+05,99669.791621,101050.557577,99652.446631,100733.782433,100808.842242,99407.846709,100746.355523,103704.535994,102490.776443,100457.202854,1.019610e+05,100093.124217,104829.440463,100117.848632,99981.654408,102828.392647,1.012948e+05,99809.107176,101633.388025,101718.689939,100105.211023,5.397605e-79,103833.940145,102254.001874,99399.906199,104410.645039,103032.836121,1.016651e+05,99740.419843,100050.072063,101733.345824,103321.768919,100585.329837,92772.794506,91672.817170,91122.755621,91506.263394,92345.587150,92565.813583,93036.323597,92649.681845,92223.816340,93249.667429,93778.678270,93052.786563,91695.618536,93379.450027,96241.872759,94316.888873,92900.827503,91968.725666,9.288344e+04,91175.971314,92439.001497,91243.872236,92173.287237,92329.665486,91020.039828,92251.677139,94752.727316,93798.390387,91963.518231,9.314188e+04,91594.731435,95832.366274,93541.934264,91488.014913,93511.219873,9.348548e+04,91393.204086,92984.639530,93161.374461,91575.034575,5.397605e-79,94484.112911,93164.782430,92119.608772,95388.490406,94131.383538,9.529781e+04,91325.082461,91640.586117,92817.926915,94282.855382,91993.251203

In [3]:
# Load BPX.xpt file in src/Data/BloodPressure directory
blood_pressure_1999_2000 = pd.read_sas("../Data/BloodPressure/BPX.XPT")
pd.set_option('display.max_columns', None)
blood_pressure_1999_2000.head()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXDB,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,BPXSAR,BPXDAR
0,1.0,1.0,151.0,5.397605e-79,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1.0,764.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,3.0,68.0,NaN,1.0,1.0,130.0,106.0,58.0,2.0,98.0,56.0,2.0,98.0,56.0,2.0,NaN,NaN,NaN,98.0,56.0
2,3.0,1.0,571.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,2.0,104.0,NaN,1.0,1.0,140.0,110.0,60.0,2.0,104.0,64.0,2.0,112.0,62.0,2.0,NaN,NaN,NaN,108.0,63.0
3,4.0,1.0,47.0,5.397605e-79,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1.0,694.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,4.0,66.0,NaN,1.0,1.0,140.0,122.0,82.0,2.0,122.0,84.0,2.0,122.0,82.0,2.0,NaN,NaN,NaN,122.0,83.0

In [4]:
# Load LAB10.xpt file in src/Data/Glycohaemoglobin directory
A1c_1999_2000 = pd.read_sas("../Data/Glycohaemoglobin/LAB10.XPT")
pd.set_option('display.max_columns', None)
A1c_1999_2000.head()

   SEQN  LBXGH
0   2.0    4.7
1   5.0    5.5
2   6.0    5.1
3   7.0    5.8
4   8.0    5.0

In [5]:
# Load LAB13AM.xpt file in src/Data/CholesterolLDLTriglyceride directory
LDL_1999_2000 = pd.read_sas("../Data/CholesterolLDLTriglyceride/LAB13AM.XPT")
pd.set_option('display.max_columns', None)
LDL_1999_2000.head()

   SEQN       WTSAF2YR      WTSAF4YR  LBXTR  LBDTRSI  LBDLDL  LBDLDLSI
0   2.0   60586.147294  33073.267573  128.0     1.45   136.0      3.52
1   3.0  121969.841152  52434.225472  202.0     2.28    58.0      1.50
2   5.0  234895.205650  98468.806492  347.0     3.92   168.0      4.34
3   7.0   57661.621988  32935.874064   62.0     0.70   127.0      3.28
4   8.0   76026.438279  36016.767631   33.0     0.37    88.0      2.28

In [6]:
# Load LAB13.xpt file in src/Data/CholesterolHDLTotal directory
HDL_Total_1999_2000 = pd.read_sas("../Data/CholesterolHDLTotal/LAB13.XPT")
pd.set_option('display.max_columns', None)
HDL_Total_1999_2000.head()

   SEQN  LBXTC  LBDTCSI  LBDHDL  LBDHDLSI
0   2.0  215.0     5.56    54.0      1.39
1   3.0  129.0     3.34    30.0      0.78
2   5.0  279.0     7.21    42.0      1.08
3   6.0  153.0     3.96    61.0      1.57
4   7.0  245.0     6.34   105.0      2.73

In [7]:
# Load HIQ.xpt file in src/Data/HealthInsurance directory
health_insurance_1999_2000 = pd.read_sas("../Data/HealthInsurance/HIQ.XPT")
pd.set_option('display.max_columns', None)
health_insurance_1999_2000.head()

,SEQN,HID010,HID030A,HID030B,HID030C,HID030D,HID030E,HID040,HIQ210,HIQ220
0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,NaN
1,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN
2,3.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,NaN
3,4.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,NaN
4,5.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,NaN

In [8]:
# Load HUQ.xpt file in src/Data/HospitalUtilizationAccessToCare directory
hospital_utilization_1999_2000 = pd.read_sas("../Data/HospitalUtilizationAccessToCare/HUQ.XPT")
pd.set_option('display.max_columns', None)
hospital_utilization_1999_2000.head()

,SEQN,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ070,HUD080,HUQ090
0,1.0,1.0,3.0,1.0,2.0,3.0,NaN,1.0,1.0,NaN
1,2.0,2.0,2.0,1.0,2.0,3.0,NaN,1.0,1.0,2.0
2,3.0,1.0,1.0,1.0,1.0,1.0,NaN,2.0,NaN,2.0
3,4.0,1.0,3.0,1.0,1.0,2.0,NaN,2.0,NaN,NaN
4,5.0,2.0,3.0,1.0,2.0,3.0,NaN,2.0,NaN,2.0

In [9]:
# Load SMQ.xpt file in src/Data/SmokingCigaretteUseAdult directory
smoking_1999_2000 = pd.read_sas("../Data/SmokingCigaretteUseAdult/SMQ.XPT")
pd.set_option('display.max_columns', None)
smoking_1999_2000.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMD070,SMD075,SMD080,SMD090,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ120,SMD130,SMQ140,SMQ143,SMQ145,SMQ150,SMD160,SMQ170,SMQ173,SMQ175,SMQ180,SMD190,SMQ200,SMD203,SMQ205,SMQ210,SMD220,SMQ230,SMD233,SMD235
0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.800000e+01,3.0,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
1,5.0,1.0,5.397605e-79,3.0,5.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN
2,7.0,1.0,1.700000e+01,3.0,20.0,4.0,39.0,20.0,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
3,10.0,1.0,1.600000e+01,1.0,NaN,NaN,NaN,NaN,10.0,25.0,30.0,10.0,b'NEWPORT',1.0,1.0,85.0,17.0,1.2,17.0,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
4,12.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.700000e+01,3.0,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN

In [10]:
# Merge all needed files by SEQN 
# demographic_1999_2000, blood_pressure_1999_2000, A1c_1999_2000, LDL_1999_2000, HDL_Total_1999_2000, health_insurance_1999_2000, hospital_utilization_1999_2000, smoking_1999_2000

from functools import reduce

# List of all dataframes to merge
dataframes = [
    demographic_1999_2000, 
    blood_pressure_1999_2000, 
    A1c_1999_2000, 
    LDL_1999_2000, 
    HDL_Total_1999_2000, 
    health_insurance_1999_2000, 
    hospital_utilization_1999_2000, 
    smoking_1999_2000
]

# Merge all dataframes using reduce
df_nhanes_1999_2000 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), dataframes)
df_nhanes_1999_2000.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,DMQMILIT,DMDBORN,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDEDUC,DMDSCHOL,DMDMARTL,DMDHHSIZ,INDHHINC,INDFMINC,INDFMPIR,RIDEXPRG,RIDPREG,DMDHRGND,DMDHRAGE,DMDHRBRN,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTINT4YR,WTMEC2YR,WTMEC4YR,SDMVPSU,SDMVSTRA,SDJ1REPN,DMAETHN,DMARACE,WTMREP01,WTMREP02,WTMREP03,WTMREP04,WTMREP05,WTMREP06,WTMREP07,WTMREP08,WTMREP09,WTMREP10,WTMREP11,WTMREP12,WTMREP13,WTMREP14,WTMREP15,WTMREP16,WTMREP17,WTMREP18,WTMREP19,WTMREP20,WTMREP21,WTMREP22,WTMREP23,WTMREP24,WTMREP25,WTMREP26,WTMREP27,WTMREP28,WTMREP29,WTMREP30,WTMREP31,WTMREP32,WTMREP33,WTMREP34,WTMREP35,WTMREP36,WTMREP37,WTMREP38,WTMREP39,WTMREP40,WTMREP41,WTMREP42,WTMREP43,WTMREP44,WTMREP45,WTMREP46,WTMREP47,WTMREP48,WTMREP49,WTMREP50,WTMREP51,WTMREP52,WTIREP01,WTIREP02,WTIREP03,WTIREP04,WTIREP05,WTIREP06,WTIREP07,WTIREP08,WTIREP09,WTIREP10,WTIREP11,WTIREP12,WTIREP13,WTIREP14,WTIREP15,WTIREP16,WTIREP17,WTIREP18,WTIREP19,WTIREP20,WTIREP21,WTIREP22,WTIREP23,WTIREP24,WTIREP25,WTIREP26,WTIREP27,WTIREP28,WTIREP29,WTIREP30,WTIREP31,WTIREP32,WTIREP33,WTIREP34,WTIREP35,WTIREP36,WTIREP37,WTIREP38,WTIREP39,WTIREP40,WTIREP41,WTIREP42,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXDB,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,BPXSAR,BPXDAR,LBXGH,WTSAF2YR,WTSAF4YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBXTC,LBDTCSI,LBDHDL,LBDHDLSI,HID010,HID030A,HID030B,HID030C,HID030D,HID030E,HID040,HIQ210,HIQ220,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ070,HUD080,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMD070,SMD075,SMD080,SMD090,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ120,SMD130,SMQ140,SMQ143,SMQ145,SMQ150,SMD160,SMQ170,SMQ173,SMQ175,SMQ180,SMD190,SMQ200,SMD203,SMQ205,SMQ210,SMD220,SMQ230,SMD233,SMD235
0,1.0,1.0,2.0,2.0,2.0,2.0,29.0,31.0,4.0,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0,0.86,NaN,NaN,2.0,27.0,1.0,3.0,5.0,NaN,9727.078709,4291.490177,10982.898896,4456.206594,1.0,5.0,19.0,NaN,NaN,11045.788977,11537.655236,11052.382347,10981.994952,11304.027822,11788.403531,10982.143653,11882.032570,11082.382400,10910.758054,11152.686308,11368.378721,11639.065727,10982.085565,10968.688468,11014.937015,11786.119318,11158.422538,5.397605e-79,10982.853644,11079.763590,10981.331840,10997.244146,10981.440039,10979.467025,11608.248087,10987.995656,11347.581698,11354.100184,1.116879e+04,10988.948660,11108.697491,11057.813142,11120.884136,11885.457494,1.100735e+04,10819.874783,11179.916627,11031.809444,11002.862393,1.147512e+04,10937.054393,11431.548739,11197.627101,10976.246652,11372.168411,1.132356e+04,11145.175931,10990.797087,11728.073781,10927.615791,11655.082962,9787.450653,10190.660048,9789.596326,9727.078709,10129.044412,10284.424282,9727.078709,10436.053876,9816.985842,9664.796657,9845.871036,10011.321962,10234.820086,9727.078709,9727.078709,9757.028296,10257.405752,9884.906307,5.397605e-79,9727.078709,9789.575929,9727.078709,9727.078709,9727.078709,9727.078709,10244.119262,9757.028296,9953.666336,10026.450542,9.897641e+03,9731.353903,9836.711023,10104.421527,9835.451792,10438.851416,9.749358e+03,9796.889731,9903.459188,9761.917340,9745.268584,1.018304e+04,9694.540278,10094.017100,9912.461855,9727.078709,10041.524113,9.953956e+03,9857.381983,9865.152486,10327.992682,9809.165049,10323.315747,1.0,151.0,5.397605e-79,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,NaN,1.0,3.0,1.0,2.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1.0,2.0,2.0,1.0,77.0,926.0,926.0,3.0,1.0,1.0,1.0,1.0,NaN,NaN,5.0,3.0,NaN,NaN,1.0,8.0,8.0,5.00,NaN,NaN,1.0,77.0,1.0,5.0,NaN,NaN,26678.636376,14203.335998,28325.384898,15336.199717,3.0,1.0,36.0,NaN,NaN,28595.040267,28487.809685,28277.212462,28428.863410,28689.509720,28554.443486,28953.832384,28865.193352,28816.149227,29009.334987,29511.004111,28799.450760,28520.261868,28824.621526,29838.478522,29014.725094,28886.146010,28570.071060,2.917548e+04,28406.076068,28540.729067,28382.112985,28669.314178,29011.196680,28374.504042,28662.460256,29861.914559,28771.558452,28798.755746,2.887700e+04,28493.224258,29903.412316,29153.224951,28503.964835,28443.983215,5.397605e-79,28467.040801,29037.400734,29042.380302,28435.895232,2.911036e+04,29373.664736,28924.957080,29016.385749,29874.143718,29559.795821,2.987449e+04,28364.509723,28525.592280,28965.388416,29143.509564,28705.128975,26923.620662,26824.717835,26631.355602,26777.074594,27018.552264,26904.614980,27241.302235,27198.787165,27099.417824,27293.981410,27701.658797,27220.559042,26875.742441,27203.215115,28289.913957,27504.820547,27171.693965,26894.201918,2.742468e+04,26730.099404,26885.349161,26732.989332,26939.626877,27208.479126,26716.513970,26979.277637,27961.236425,27519.241428,27120.349327,2.720840e+04,26827.815969,28153.656904,27401.252011,26823.593233,27228.739617,5.397605e-79,26814.710645,27224.136990,27343.860382,26786.594688,2.740426e+04,27595.649515,27186.728682,27324.345051,28099.663528,27757.066921,2.804929e+04,26716.602006,26877.704909,27268.025234,27406.383620,26984.812909,1.0,764.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,3.0,68.0,NaN,1.0,1.0,130.0,106.0,58.0,2.0,98.0,56.0,2.0,98.0,56.0,2.0,NaN,NaN,NaN,98.0,56.0,4.7,60586.147294,33073.267573,128.0,1.45,136.0,3.52,215.0,5.56,54.0,1.39,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,2.0,2.0,1.0,2.0,3.0,NaN,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.800000e+01,3.0,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
2,3.0,1.0,2.0,1.0,2.0,10.0,125.0,126.0,3.0,1.0,NaN,3.0,2.0,2.0,3.0,NaN,1.0,1.0,NaN,4.0,6.0,6.0,1.47,NaN,NaN,1.0,37.0,3.0,4.0,1.0,3.0,43621.680548,20123.763507,46192.256945,21258.466625,2.0,7.0,30.0,NaN,NaN,46829.650831,46309.917771,46191.687530,46603.585925,46638.379990,47073.297625,47186.987235,46720.914215,47371.667109,46703.108582,48675.068638,47567.231065,47042.788521,47095.644034,49158.399643,48733.459258,46662.024729,47012.401548,4.708848e+04,46842.111309,46711.955056,46191.733328,47000.058842,46411.983985,46191.177933,46430.749663,48456.319109,47537.523414,46390.531908,5.397605e-79,46265.548508,48571.404399,46904.271008,46411.338345,47430.195812,4.674089e+04,46191.710629,46798.279423,46940.618480,46353.765213,4.767654e+04,47629.578803,46579.639702,46707.762423,49637.450326,47746.234623,4.672778e+04,46686.213166,47504.119125,47206.143524,48250.803538,46363.581943,44489.186741,43736.673286,43621.680548,43964.278092,43956.596942,44396.200928,44432.410422,44133.062950,44684.839160,44304.079445,45711.849140,44886.927689,44507.450411,45325.284393,46199.091001,45798.642017,44086.710554,44397.650188,4.469852e+04,44174.267902,44171.403948,43621.680548,44326.006874,43816.318911,43621.680548,43880.912077,45853.267944,44814.551656,43885.337891,5.397605e-79,43691.069032,45952.824543,44150.487123,43800.456021,44709.564994,4.438938e+04,43621.680548,44068.616263,44332.639094,43767.009397,4.488636e+04,45015.720872,43993.193099,44075.386428,46642.563799,44967.681579,4.457248e+04,44087.945688,44831.370881,44480.987235,45389.112766,43781.905637,1.0,571.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,2.0,104.0,NaN,1.0,1.0,140.0,110.0,60.0,2.0,104.0,64.0,2.0,112.0,62.0,2.0,NaN,NaN,NaN,108.0,63.0,NaN,121969.841152,52434.225472,202.0,2.28,58.0,1.50,129.0,3.34,30.0,0.78,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1.0,2.0,2.0,1.0,1.0,22.0,23.0,4.0,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0,3.0,3.0,0.57,NaN,NaN,2.0,34.0,1.0,3.0,4.0,NaN,10346.119327,4582.132308,10251.260020,4562.389068,1.0,2.0,47.0,NaN,NaN,10301.751273,10693.773854,10316.455470,10250.416293,10765.239992,10631.594178,10250.555088,10846.616356,10389.726260,10419.681777,10410.644323,10470.139201,10780.563892,10250.500870,10237.996237,10266.450218,10776.922385,10385.185006,1.037302e+04,10251.217782,10444.978546,10249.797355,10264.649643,10249.898346,10248.056767,10803.698074,10241.339579,10440.220583,10574.666953,1.040287e+04,10201.964104,10343.807786,10524.956397,10345.462617,11236.714805,1.027408e+04,10288.780888,10454.650385,10263.959697,10276.952973,1.067099e+04,10279.076569,10601.255337,10425.580214,10245.050923,10542.918217,5.397605e-79,10431.037828,10530.151957,10753.405668,10479.950791,10910.423979,10401.969958,10798.969374,10412.615626,10346.119327,10868.583749,10734.329598,10346.119327,10932.388632,10487.390448,10517.698395,10473.303671,10568.957408,10865.803865,10346.119327,10346.119327,10363.133043,10829.240722,10483.497790,1.047042e+04,10346.119327,10526.899335,10346.119327,10346.119327,10346.119327,10346.119327,10890.470386,10363.133043,10540.663427,10677.139838,1.051805e+04,10294.998516,10437.525742,10607.706557,10438.987278,11355.685406,1.036982e+04,10385.567911,10552.965472,10365.897561,10372.591868,1.077867e+04,10382.677829,10702.307249,10531.444441,10346.119327,10636.063039,5.397605e-79,10533.108939,10654.749584,10851.024385,10564.981435,11012.529729,1.0,47.0,5.397605e-79,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,NaN,1.0,3.0,1.0,1.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1.0,2.0,2.0,1.0,49.0,597.0,597.0,3.0,1.0,1.0,1.0,1.0,NaN,NaN,5.0,3.0,NaN,1.0,3.0,11.0,11.0,5.00,NaN,NaN,2.0,42.0,3.0,4.0,1.0,NaN,91050.846620,44161.868201,99445.065735,45985.967832,2.0,8.0,41.0,NaN,NaN,100344.688569,100213.183486,99530.738054,100036.557675,100789.824860,101061.234761,101883.027042,101117.974792,100869.039828,101768.139216,102611.941501,101829.651910,100098.756262,102463.971064,105667.423164,103689.537439,101531.848279,100611.625682,1.017036e+05,99669.791621,101050.557577,99652.446631,100733.782433,100808.842242,99407.846709,100746.355523,103704.535994,102490.776443,100457.202854,1.019610e+05,100093.124217,104829.440463,100117.848632,99981.654408,102828.392647,1.012948e+05,99809.107176,101633.388025,101718.689939,100105.211023,5.397605e-79,103833.940145,102254.001874,99399.906199,104410.645039,103032.836121,1.016651e+05,99740.419843,100050.072063,101733.345824,103321.768919,100585.329837,92772.794506,91672.817170,91122.755621,91506.263394,92345.587150,92565.813583,93036.323597,92649.681845,92223.816340,93249.667429,93778.678270,93052.786563,91695.618536,93379.450027,96241.872759,94316.888873,92900.827503,91968.725666,9.288344e+04,91175.971314,92439.001497,91243.872236,92173.287237,92329.665486,91020.039828,92251.677139,94752.727316,93798.390387,91963.518231,9.314188e+04,91594.731435,95832.366274,93541.934264,91488.014913,93511.219873,9.348548e+04,91393.204086,92984.639530,93161.374461,91575.034575,5.397605e-79,94484.112911,93164.782430,92119.608772,95388.490406,94131.383538,9.529781e+04,91325.082461,91640.586117,92817.926915,94282.855382,91993.251203,1.0,694.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,4.0,66.0,NaN,1.0,1.0,140.0,122.0,82.0,2.0,122.0,84.0,2.0,122.0,82.0,2.0,NaN,NaN,NaN,122.0,83.0,5.5,234895.205650,98468.806492,347.0,3.92,168.0,4.34,279.0,7.21,42.0,1.08,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,NaN,2.0,3.0,1.0,2.0,3.0,NaN,2.0,NaN,2.0,1.0,5.397605e-79,3.0,5.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN

In [11]:
df_nhanes_1999_2000.shape

(9965, 240)

## 2001 - 2002

In [12]:
# Load DEMO_B.xpt file in src/Data/Demographics directory
demographic_2001_2002 = pd.read_sas("../Data/Demographics/DEMO_B.XPT")
pd.set_option('display.max_columns', None)
demographic_2001_2002.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,DMQMILIT,DMDBORN,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDEDUC,DMDSCHOL,DMDMARTL,DMDHHSIZ,INDHHINC,INDFMINC,INDFMPIR,RIDEXPRG,RIDPREG,DMDHRGND,DMDHRAGE,DMDHRBRN,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTINT4YR,WTMEC2YR,WTMEC4YR,SDMVPSU,SDMVSTRA
0,9966.0,2.0,2.0,2.0,1.0,39.0,472.0,473.0,3.0,1.0,2.0,1.0,1.0,NaN,NaN,4.0,3.0,NaN,3.0,2.0,7.0,7.0,2.93,NaN,NaN,1.0,39.0,1.0,4.0,3.0,NaN,85045.160060,42497.504017,91352.991726,46753.121033,2.0,22.0
1,9967.0,2.0,2.0,1.0,1.0,23.0,283.0,284.0,4.0,2.0,2.0,3.0,1.0,4.0,NaN,4.0,3.0,NaN,5.0,5.0,NaN,13.0,NaN,NaN,NaN,2.0,48.0,3.0,3.0,2.0,NaN,29465.456810,13514.790582,29456.680208,13594.950700,1.0,24.0
2,9968.0,2.0,2.0,1.0,2.0,84.0,1011.0,1012.0,3.0,1.0,2.0,1.0,1.0,NaN,NaN,2.0,1.0,NaN,2.0,1.0,2.0,2.0,0.68,NaN,NaN,2.0,84.0,1.0,2.0,2.0,NaN,20658.109377,10069.359476,27508.137821,15833.964899,2.0,20.0
3,9969.0,2.0,2.0,2.0,2.0,51.0,612.0,612.0,3.0,1.0,2.0,1.0,1.0,NaN,NaN,5.0,3.0,NaN,1.0,3.0,11.0,11.0,5.00,2.0,2.0,1.0,55.0,1.0,5.0,1.0,5.0,75077.431586,43769.053390,78536.315892,45304.258407,2.0,18.0
4,9970.0,2.0,2.0,2.0,1.0,16.0,200.0,200.0,2.0,5.0,NaN,1.0,1.0,NaN,10.0,NaN,1.0,1.0,5.0,3.0,8.0,8.0,3.42,NaN,NaN,1.0,41.0,1.0,5.0,1.0,4.0,32563.194542,17881.930025,34059.984716,18978.202980,2.0,27.0

In [13]:
# Load BPX_B.xpt file in src/Data/BloodPressure directory
blood_pressure_2001_2002 = pd.read_sas("../Data/BloodPressure/BPX_B.XPT")
pd.set_option('display.max_columns', None)
blood_pressure_2001_2002.head()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXDB,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,BPXSAR,BPXDAR
0,9966.0,1.0,908.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,5.0,52.0,NaN,1.0,1.0,160.0,128.0,8.000000e+01,2.0,126.0,80.0,2.0,122.0,78.0,2.0,NaN,NaN,NaN,124.0,7.900000e+01
1,9967.0,1.0,587.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,4.0,56.0,NaN,1.0,1.0,120.0,106.0,6.000000e+01,2.0,100.0,66.0,2.0,104.0,66.0,2.0,NaN,NaN,NaN,102.0,6.600000e+01
2,9968.0,1.0,626.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,3.0,88.0,NaN,1.0,1.0,150.0,120.0,5.397605e-79,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,120.0,5.397605e-79
3,9969.0,1.0,860.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,3.0,90.0,NaN,1.0,1.0,130.0,120.0,7.200000e+01,2.0,118.0,72.0,2.0,108.0,70.0,2.0,NaN,NaN,NaN,113.0,7.100000e+01
4,9970.0,1.0,740.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,5.0,70.0,NaN,1.0,1.0,150.0,120.0,8.800000e+01,2.0,118.0,84.0,2.0,124.0,94.0,2.0,NaN,NaN,NaN,121.0,8.900000e+01

In [14]:
# Load L10_B.xpt file in src/Data/Glycohaemoglobin directory
A1c_2001_2002 = pd.read_sas("../Data/Glycohaemoglobin/L10_B.XPT")
pd.set_option('display.max_columns', None)
A1c_2001_2002.head()

     SEQN  LBXGH
0  9966.0    5.6
1  9967.0    5.5
2  9968.0    5.8
3  9969.0    5.1
4  9970.0    NaN

In [15]:
# Load L13AM_B.xpt file in src/Data/CholesterolLDLTriglyceride directory
LDL_2001_2002 = pd.read_sas("../Data/CholesterolLDLTriglyceride/L13AM_B.XPT")
pd.set_option('display.max_columns', None)
LDL_2001_2002.head()

     SEQN      WTSAF2YR      WTSAF4YR  LBXTR  LBDTRSI  LBDLDL  LBDLDLSI
0  9966.0  2.167054e+05  1.107279e+05  417.0     4.71     NaN       NaN
1  9968.0  5.850661e+04  3.452820e+04  130.0     1.47    56.0      1.45
2  9969.0  1.776020e+05  9.963644e+04   92.0     1.04   151.0      3.90
3  9970.0  5.397605e-79  5.397605e-79    NaN      NaN     NaN       NaN
4  9972.0  1.854744e+05  1.081909e+05  170.0     1.92   122.0      3.15

In [16]:
# L13_B.xpt file in src/Data/CholesterolHDLTotal directory
HDL_Total_2001_2002 = pd.read_sas("../Data/CholesterolHDLTotal/L13_B.XPT")
pd.set_option('display.max_columns', None)
HDL_Total_2001_2002.head()

     SEQN  LBXTC  LBDHDL  LBDTCSI  LBDHDLSI
0  9966.0  247.0    35.0     6.39      0.91
1  9967.0  168.0    43.0     4.34      1.11
2  9968.0  133.0    51.0     3.44      1.32
3  9969.0  236.0    67.0     6.10      1.73
4  9970.0    NaN     NaN      NaN       NaN

In [17]:
# Load HIQ_B.xpt file in src/Data/HealthInsurance directory
health_insurance_2001_2002 = pd.read_sas("../Data/HealthInsurance/HIQ_B.XPT")
pd.set_option('display.max_columns', None)
health_insurance_2001_2002.head()

,SEQN,HID010,HID030A,HID030B,HID030C,HID030D,HID030E,HID040,HIQ210,HIQ220
0,9966.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN
1,9967.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN
2,9968.0,1.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,NaN
3,9969.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN
4,9970.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN

In [18]:
# Load HUQ_B.xpt file in src/Data/HospitalUtilizationAccessToCare directory
hospital_utilization_2001_2002 = pd.read_sas("../Data/HospitalUtilizationAccessToCare/HUQ_B.XPT")
pd.set_option('display.max_columns', None)
hospital_utilization_2001_2002.head()

,SEQN,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUD070,HUQ080,HUQ082,HUQ084,HUQ086,HUQ088A,HUQ088B,HUQ088C,HUQ090
0,9966.0,2.0,3.0,1.0,2.0,1.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0
1,9967.0,1.0,1.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0
2,9968.0,4.0,2.0,1.0,4.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0
3,9969.0,1.0,3.0,1.0,2.0,3.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0
4,9970.0,3.0,3.0,1.0,2.0,1.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,1.0

In [19]:
# Load SMQ_B.xpt file in src/Data/SmokingCigaretteUseAdult directory
smoking_2001_2002 = pd.read_sas("../Data/SmokingCigaretteUseAdult/SMQ_B.XPT")
pd.set_option('display.max_columns', None)
smoking_2001_2002.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMD070,SMD075,SMQ077,SMD080,SMD090,SMD092,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ120,SMD130,SMQ140,SMQ143,SMQ145,SMQ150,SMD160,SMQ170,SMQ173,SMQ175,SMQ180,SMD190,SMQ200,SMD203,SMQ205,SMQ210,SMD220,SMQ230,SMD233,SMD235
0,9966.0,1.0,13.0,1.0,NaN,NaN,NaN,NaN,20.0,20.0,1.0,30.0,20.0,1.0,b'012300000536',b'DORAL',1.0,5.397605e-79,100.0,12.0,0.8,16.0,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
1,9967.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
2,9968.0,1.0,25.0,3.0,4.0,4.0,999.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
3,9969.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
4,9972.0,1.0,19.0,3.0,22.0,4.0,22.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN

In [20]:
# Merge all needed files by SEQN 

# List of all dataframes to merge
dataframes = [
    demographic_2001_2002, 
    blood_pressure_2001_2002, 
    A1c_2001_2002, 
    LDL_2001_2002, 
    HDL_Total_2001_2002, 
    health_insurance_2001_2002, 
    hospital_utilization_2001_2002, 
    smoking_2001_2002
]

# Merge all dataframes using reduce
df_nhanes_2001_2002 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), dataframes)
df_nhanes_2001_2002.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,DMQMILIT,DMDBORN,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDEDUC,DMDSCHOL,DMDMARTL,DMDHHSIZ,INDHHINC,INDFMINC,INDFMPIR,RIDEXPRG,RIDPREG,DMDHRGND,DMDHRAGE,DMDHRBRN,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTINT4YR,WTMEC2YR,WTMEC4YR,SDMVPSU,SDMVSTRA,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXDB,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,BPXSAR,BPXDAR,LBXGH,WTSAF2YR,WTSAF4YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBXTC,LBDHDL,LBDTCSI,LBDHDLSI,HID010,HID030A,HID030B,HID030C,HID030D,HID030E,HID040,HIQ210,HIQ220,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUD070,HUQ080,HUQ082,HUQ084,HUQ086,HUQ088A,HUQ088B,HUQ088C,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMD070,SMD075,SMQ077,SMD080,SMD090,SMD092,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ120,SMD130,SMQ140,SMQ143,SMQ145,SMQ150,SMD160,SMQ170,SMQ173,SMQ175,SMQ180,SMD190,SMQ200,SMD203,SMQ205,SMQ210,SMD220,SMQ230,SMD233,SMD235
0,9966.0,2.0,2.0,2.0,1.0,39.0,472.0,473.0,3.0,1.0,2.0,1.0,1.0,NaN,NaN,4.0,3.0,NaN,3.0,2.0,7.0,7.0,2.93,NaN,NaN,1.0,39.0,1.0,4.0,3.0,NaN,85045.160060,42497.504017,91352.991726,46753.121033,2.0,22.0,1.0,908.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,5.0,52.0,NaN,1.0,1.0,160.0,128.0,8.000000e+01,2.0,126.0,80.0,2.0,122.0,78.0,2.0,NaN,NaN,NaN,124.0,7.900000e+01,5.6,2.167054e+05,1.107279e+05,417.0,4.71,NaN,NaN,247.0,35.0,6.39,0.91,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,2.0,3.0,1.0,2.0,1.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0,1.0,13.0,1.0,NaN,NaN,NaN,NaN,20.0,20.0,1.0,30.0,20.0,1.0,b'012300000536',b'DORAL',1.0,5.397605e-79,100.0,12.0,0.8,16.0,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
1,9967.0,2.0,2.0,1.0,1.0,23.0,283.0,284.0,4.0,2.0,2.0,3.0,1.0,4.0,NaN,4.0,3.0,NaN,5.0,5.0,NaN,13.0,NaN,NaN,NaN,2.0,48.0,3.0,3.0,2.0,NaN,29465.456810,13514.790582,29456.680208,13594.950700,1.0,24.0,1.0,587.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,4.0,56.0,NaN,1.0,1.0,120.0,106.0,6.000000e+01,2.0,100.0,66.0,2.0,104.0,66.0,2.0,NaN,NaN,NaN,102.0,6.600000e+01,5.5,NaN,NaN,NaN,NaN,NaN,NaN,168.0,43.0,4.34,1.11,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,1.0,1.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
2,9968.0,2.0,2.0,1.0,2.0,84.0,1011.0,1012.0,3.0,1.0,2.0,1.0,1.0,NaN,NaN,2.0,1.0,NaN,2.0,1.0,2.0,2.0,0.68,NaN,NaN,2.0,84.0,1.0,2.0,2.0,NaN,20658.109377,10069.359476,27508.137821,15833.964899,2.0,20.0,1.0,626.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,3.0,88.0,NaN,1.0,1.0,150.0,120.0,5.397605e-79,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,120.0,5.397605e-79,5.8,5.850661e+04,3.452820e+04,130.0,1.47,56.0,1.45,133.0,51.0,3.44,1.32,1.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,NaN,4.0,2.0,1.0,4.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0,1.0,25.0,3.0,4.0,4.0,999.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
3,9969.0,2.0,2.0,2.0,2.0,51.0,612.0,612.0,3.0,1.0,2.0,1.0,1.0,NaN,NaN,5.0,3.0,NaN,1.0,3.0,11.0,11.0,5.00,2.0,2.0,1.0,55.0,1.0,5.0,1.0,5.0,75077.431586,43769.053390,78536.315892,45304.258407,2.0,18.0,1.0,860.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,3.0,90.0,NaN,1.0,1.0,130.0,120.0,7.200000e+01,2.0,118.0,72.0,2.0,108.0,70.0,2.0,NaN,NaN,NaN,113.0,7.100000e+01,5.1,1.776020e+05,9.963644e+04,92.0,1.04,151.0,3.90,236.0,67.0,6.10,1.73,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,1.0,3.0,1.0,2.0,3.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
4,9970.0,2.0,2.0,2.0,1.0,16.0,200.0,200.0,2.0,5.0,NaN,1.0,1.0,NaN,10.0,NaN,1.0,1.0,5.0,3.0,8.0,8.0,3.42,NaN,NaN,1.0,41.0,1.0,5.0,1.0,4.0,32563.194542,17881.930025,34059.984716,18978.202980,2.0,27.0,1.0,740.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,5.0,70.0,NaN,1.0,1.0,150.0,120.0,8.800000e+01,2.0,118.0,84.0,2.0,124.0,94.0,2.0,NaN,NaN,NaN,121.0,8.900000e+01,NaN,5.397605e-79,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,3.0,3.0,1.0,2.0,1.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_nhanes_2001_2002.shape

(11039, 142)

## 2003 - 2004

In [22]:
# Load DEMO_C.xpt file in src/Data/Demographics directory
demographic_2003_2004 = pd.read_sas("../Data/Demographics/DEMO_C.XPT")
pd.set_option('display.max_columns', None)
demographic_2003_2004.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,DMQMILIT,DMDBORN,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDEDUC,DMDSCHOL,DMDMARTL,DMDHHSIZ,INDHHINC,INDFMINC,INDFMPIR,RIDEXPRG,DMDHRGND,DMDHRAGE,DMDHRBRN,DMDHREDU,DMDHRMAR,DMDHSEDU,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,21005.0,3.0,2.0,1.0,1.0,19.0,232.0,233.0,4.0,2.0,2.0,1.0,1.0,NaN,11.0,NaN,1.0,1.0,5.0,2.0,6.0,6.0,2.44,NaN,1.0,39.0,1.0,5.0,3.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,5512.320949,5824.782465,2.0,39.0
1,21006.0,3.0,2.0,2.0,2.0,16.0,203.0,205.0,4.0,2.0,NaN,1.0,1.0,NaN,11.0,NaN,1.0,2.0,5.0,6.0,7.0,6.0,2.47,1.0,2.0,27.0,1.0,2.0,5.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,5422.140453,5564.039715,1.0,41.0
2,21007.0,3.0,2.0,1.0,2.0,14.0,172.0,172.0,3.0,1.0,NaN,1.0,1.0,NaN,8.0,NaN,1.0,1.0,5.0,5.0,NaN,6.0,1.60,2.0,1.0,39.0,1.0,4.0,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,39764.177412,40591.066325,2.0,35.0
3,21008.0,3.0,2.0,2.0,1.0,17.0,208.0,209.0,4.0,2.0,2.0,1.0,1.0,NaN,10.0,NaN,1.0,1.0,5.0,7.0,11.0,7.0,2.75,NaN,2.0,40.0,1.0,4.0,5.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,5599.499351,5696.750596,1.0,32.0
4,21009.0,3.0,2.0,2.0,1.0,55.0,671.0,672.0,3.0,1.0,2.0,1.0,1.0,NaN,NaN,3.0,2.0,NaN,1.0,2.0,8.0,8.0,3.79,NaN,1.0,55.0,1.0,3.0,1.0,4.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,97593.678977,97731.727244,2.0,31.0

In [23]:
# Load BPX_C.xpt file in src/Data/BloodPressure directory
blood_pressure_2003_2004 = pd.read_sas("../Data/BloodPressure/BPX_C.XPT")
pd.set_option('display.max_columns', None)
blood_pressure_2003_2004.head()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXDB,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,BPXSAR,BPXDAR
0,21005.0,2.0,313.0,4.0,NaN,1.0,2.0,2.0,2.0,8.0,NaN,70.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21006.0,1.0,506.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,3.0,80.0,NaN,1.0,1.0,130.0,100.0,58.0,2.0,94.0,46.0,2.0,102.0,54.0,2.0,NaN,NaN,NaN,98.0,50.0
2,21007.0,1.0,636.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,2.0,82.0,NaN,1.0,1.0,130.0,NaN,NaN,2.0,NaN,NaN,2.0,96.0,62.0,1.0,NaN,NaN,1.0,96.0,62.0
3,21008.0,1.0,595.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,3.0,76.0,NaN,1.0,1.0,140.0,NaN,NaN,2.0,102.0,80.0,2.0,NaN,NaN,2.0,104.0,74.0,2.0,104.0,74.0
4,21009.0,1.0,784.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,4.0,74.0,NaN,1.0,1.0,150.0,124.0,88.0,2.0,124.0,86.0,2.0,112.0,84.0,2.0,NaN,NaN,NaN,118.0,85.0

In [24]:
# Load L10_C.xpt file in src/Data/Glycohaemoglobin directory
A1c_2003_2004 = pd.read_sas("../Data/Glycohaemoglobin/L10_C.XPT")
pd.set_option('display.max_columns', None)
A1c_2003_2004.head()

      SEQN  LBXGH
0  21005.0    5.4
1  21006.0    5.5
2  21007.0    5.3
3  21008.0    4.9
4  21009.0    5.9

In [25]:
# Load L13AM_C.xpt file in src/Data/CholesterolLDLTriglyceride directory
LDL_2003_2004 = pd.read_sas("../Data/CholesterolLDLTriglyceride/L13AM_C.XPT")
pd.set_option('display.max_columns', None)
LDL_2003_2004.head()

      SEQN  WTSAF2YR  LBXTR  LBDTRSI  LBDLDL  LBDLDLSI
0  21005.0   14084.2  102.0    1.152   125.0     3.233
1  21006.0   13081.0   71.0    0.802    92.0     2.379
2  21013.0   17173.8   43.0    0.485    93.0     2.405
3  21014.0   19662.6    NaN      NaN     NaN       NaN
4  21016.0   17008.2   79.0    0.892    94.0     2.431

In [26]:
# L13_C.xpt file in src/Data/CholesterolHDLTotal directory
HDL_Total_2003_2004 = pd.read_sas("../Data/CholesterolHDLTotal/L13_C.XPT")
pd.set_option('display.max_columns', None)
HDL_Total_2003_2004.head()

      SEQN  LBXTC  LBXHDD  LBDTCSI  LBDHDDSI
0  21005.0  189.0    44.0     4.89      1.14
1  21006.0  159.0    53.0     4.11      1.37
2  21007.0  212.0    69.0     5.48      1.78
3  21008.0  175.0    66.0     4.53      1.71
4  21009.0  254.0    37.0     6.57      0.96

In [27]:
# Load HIQ_C.xpt file in src/Data/HealthInsurance directory
health_insurance_2003_2004 = pd.read_sas("../Data/HealthInsurance/HIQ_C.XPT")
pd.set_option('display.max_columns', None)
health_insurance_2003_2004.head()

,SEQN,HID010,HID030A,HID030B,HID030C,HID030D,HID030E,HID040,HIQ210,HIQ220
0,21005.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN
1,21006.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,NaN
2,21007.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN
3,21008.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN
4,21009.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN

In [28]:
# Load HUQ_C.xpt file in src/Data/HospitalUtilizationAccessToCare directory
hospital_utilization_2003_2004 = pd.read_sas("../Data/HospitalUtilizationAccessToCare/HUQ_C.XPT")
pd.set_option('display.max_columns', None)
hospital_utilization_2003_2004.head()

,SEQN,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ082,HUQ084,HUQ086,HUQ088A,HUQ088B,HUQ088C,HUQ090
0,21005.0,3.0,3.0,1.0,9.0,1.000000e+00,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0
1,21006.0,2.0,3.0,1.0,2.0,5.397605e-79,3.0,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,1.0
2,21007.0,2.0,1.0,1.0,2.0,2.000000e+00,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0
3,21008.0,2.0,1.0,1.0,2.0,1.000000e+00,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0
4,21009.0,2.0,3.0,1.0,2.0,5.397605e-79,3.0,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0

In [29]:
# Load SMQ_C.xpt file in src/Data/SmokingCigaretteUseAdult directory
smoking_2003_2004 = pd.read_sas("../Data/SmokingCigaretteUseAdult/SMQ_C.XPT")
pd.set_option('display.max_columns', None)
smoking_2003_2004.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMD070,SMD075,SMQ077,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ120,SMD130,SMQ140,SMQ143,SMQ145,SMQ150,SMD160,SMQ170,SMQ173,SMQ175,SMQ180,SMD190,SMQ200,SMD203,SMQ205,SMQ210,SMD220,SMQ230,SMD233,SMD235
0,21009.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,16.0,3.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
1,21010.0,1.0,16.0,1.0,NaN,NaN,NaN,NaN,20.0,40.0,2.0,30.0,20.0,1.0,b'028200008695',b'MARLBORO LIGHT',1.0,5.397605e-79,2.0,10.0,0.8,11.0,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
2,21012.0,1.0,13.0,1.0,NaN,NaN,NaN,NaN,20.0,50.0,2.0,30.0,20.0,1.0,b'027200002535',b'KOOL',1.0,1.000000e+00,2.0,17.0,1.3,15.0,1.0,30.0,3.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
3,21015.0,1.0,19.0,3.0,45.0,4.0,38.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
4,21017.0,1.0,32.0,1.0,NaN,NaN,NaN,NaN,2.0,3.0,4.0,30.0,3.0,1.0,b'028200008695',b'MARLBORO LIGHT',1.0,5.397605e-79,2.0,10.0,0.8,11.0,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN

In [30]:
# Merge all needed files by SEQN 

# List of all dataframes to merge
dataframes = [
    demographic_2003_2004, 
    blood_pressure_2003_2004, 
    A1c_2003_2004, 
    LDL_2003_2004, 
    HDL_Total_2003_2004, 
    health_insurance_2003_2004, 
    hospital_utilization_2003_2004, 
    smoking_2003_2004
]

# Merge all dataframes using reduce
df_nhanes_2003_2004 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), dataframes)
df_nhanes_2003_2004.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,DMQMILIT,DMDBORN,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDEDUC,DMDSCHOL,DMDMARTL,DMDHHSIZ,INDHHINC,INDFMINC,INDFMPIR,RIDEXPRG,DMDHRGND,DMDHRAGE,DMDHRBRN,DMDHREDU,DMDHRMAR,DMDHSEDU,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXDB,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,BPXSAR,BPXDAR,LBXGH,WTSAF2YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBXTC,LBXHDD,LBDTCSI,LBDHDDSI,HID010,HID030A,HID030B,HID030C,HID030D,HID030E,HID040,HIQ210,HIQ220,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ082,HUQ084,HUQ086,HUQ088A,HUQ088B,HUQ088C,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMD070,SMD075,SMQ077,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ120,SMD130,SMQ140,SMQ143,SMQ145,SMQ150,SMD160,SMQ170,SMQ173,SMQ175,SMQ180,SMD190,SMQ200,SMD203,SMQ205,SMQ210,SMD220,SMQ230,SMD233,SMD235
0,21005.0,3.0,2.0,1.0,1.0,19.0,232.0,233.0,4.0,2.0,2.0,1.0,1.0,NaN,11.0,NaN,1.0,1.0,5.0,2.0,6.0,6.0,2.44,NaN,1.0,39.0,1.0,5.0,3.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,5512.320949,5824.782465,2.0,39.0,2.0,313.0,4.0,NaN,1.0,2.0,2.0,2.0,8.0,NaN,70.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.4,14084.2,102.0,1.152,125.0,3.233,189.0,44.0,4.89,1.14,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,3.0,3.0,1.0,9.0,1.000000e+00,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21006.0,3.0,2.0,2.0,2.0,16.0,203.0,205.0,4.0,2.0,NaN,1.0,1.0,NaN,11.0,NaN,1.0,2.0,5.0,6.0,7.0,6.0,2.47,1.0,2.0,27.0,1.0,2.0,5.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,5422.140453,5564.039715,1.0,41.0,1.0,506.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,3.0,80.0,NaN,1.0,1.0,130.0,100.0,58.0,2.0,94.0,46.0,2.0,102.0,54.0,2.0,NaN,NaN,NaN,98.0,50.0,5.5,13081.0,71.0,0.802,92.0,2.379,159.0,53.0,4.11,1.37,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,NaN,2.0,3.0,1.0,2.0,5.397605e-79,3.0,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21007.0,3.0,2.0,1.0,2.0,14.0,172.0,172.0,3.0,1.0,NaN,1.0,1.0,NaN,8.0,NaN,1.0,1.0,5.0,5.0,NaN,6.0,1.60,2.0,1.0,39.0,1.0,4.0,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,39764.177412,40591.066325,2.0,35.0,1.0,636.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,2.0,82.0,NaN,1.0,1.0,130.0,NaN,NaN,2.0,NaN,NaN,2.0,96.0,62.0,1.0,NaN,NaN,1.0,96.0,62.0,5.3,NaN,NaN,NaN,NaN,NaN,212.0,69.0,5.48,1.78,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,2.0,1.0,1.0,2.0,2.000000e+00,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21008.0,3.0,2.0,2.0,1.0,17.0,208.0,209.0,4.0,2.0,2.0,1.0,1.0,NaN,10.0,NaN,1.0,1.0,5.0,7.0,11.0,7.0,2.75,NaN,2.0,40.0,1.0,4.0,5.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,5599.499351,5696.750596,1.0,32.0,1.0,595.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,3.0,76.0,NaN,1.0,1.0,140.0,NaN,NaN,2.0,102.0,80.0,2.0,NaN,NaN,2.0,104.0,74.0,2.0,104.0,74.0,4.9,NaN,NaN,NaN,NaN,NaN,175.0,66.0,4.53,1.71,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,2.0,1.0,1.0,2.0,1.000000e+00,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21009.0,3.0,2.0,2.0,1.0,55.0,671.0,672.0,3.0,1.0,2.0,1.0,1.0,NaN,NaN,3.0,2.0,NaN,1.0,2.0,8.0,8.0,3.79,NaN,1.0,55.0,1.0,3.0,1.0,4.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,97593.678977,97731.727244,2.0,31.0,1.0,784.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,4.0,74.0,NaN,1.0,1.0,150.0,124.0,88.0,2.0,124.0,86.0,2.0,112.0,84.0,2.0,NaN,NaN,NaN,118.0,85.0,5.9,NaN,NaN,NaN,NaN,NaN,254.0,37.0,6.57,0.96,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,2.0,3.0,1.0,2.0,5.397605e-79,3.0,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,16.0,3.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN

In [31]:
df_nhanes_2003_2004.shape

(10122, 148)

## 2005 - 2006

In [32]:
# Load DEMO_D.xpt file in src/Data/Demographics directory
demographic_2005_2006 = pd.read_sas("../Data/Demographics/DEMO_D.XPT")
pd.set_option('display.max_columns', None)
demographic_2005_2006.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,DMDBORN,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDSCHOL,DMDMARTL,DMDHHSIZ,DMDFMSIZ,INDHHINC,INDFMINC,INDFMPIR,RIDEXPRG,DMDHRGND,DMDHRAGE,DMDHRBRN,DMDHREDU,DMDHRMAR,DMDHSEDU,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,31127.0,4.0,2.0,2.0,1.0,5.397605e-79,11.0,12.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,4.0,0.75,NaN,2.0,21.0,1.0,3.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,6434.950248,6571.396373,2.0,44.0
1,31128.0,4.0,2.0,1.0,2.0,1.100000e+01,132.0,132.0,4.0,NaN,1.0,1.0,NaN,4.0,NaN,1.0,NaN,7.0,6.0,8.0,5.0,0.77,2.0,1.0,47.0,1.0,2.0,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,9081.700761,8987.041810,1.0,52.0
2,31129.0,4.0,2.0,2.0,1.0,1.500000e+01,189.0,190.0,4.0,NaN,1.0,1.0,NaN,10.0,NaN,1.0,5.0,6.0,6.0,10.0,10.0,2.71,NaN,1.0,41.0,1.0,4.0,1.0,4.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,5316.895215,5586.719481,1.0,51.0
3,31130.0,4.0,2.0,2.0,2.0,8.500000e+01,NaN,NaN,3.0,2.0,1.0,1.0,NaN,NaN,4.0,NaN,2.0,1.0,1.0,4.0,4.0,1.99,NaN,2.0,85.0,1.0,4.0,2.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,29960.839509,34030.994786,2.0,46.0
4,31131.0,4.0,2.0,2.0,2.0,4.400000e+01,535.0,536.0,4.0,2.0,1.0,1.0,NaN,NaN,4.0,NaN,1.0,4.0,4.0,11.0,11.0,4.65,2.0,1.0,36.0,1.0,5.0,1.0,4.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,26457.708180,26770.584605,1.0,48.0

In [33]:
# Load BPX_D.xpt file in src/Data/BloodPressure directory
blood_pressure_2005_2006 = pd.read_sas("../Data/BloodPressure/BPX_D.XPT")
pd.set_option('display.max_columns', None)
blood_pressure_2005_2006.head()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXDB,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4
0,31127.0,1.0,41.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31128.0,1.0,401.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,3.0,84.0,NaN,1.0,1.0,130.0,100.0,62.0,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0
2,31129.0,1.0,664.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,4.0,96.0,NaN,1.0,1.0,140.0,104.0,76.0,2.0,106.0,72.0,2.0,108.0,70.0,1.0,NaN,NaN,NaN
3,31130.0,2.0,NaN,4.0,NaN,2.0,2.0,2.0,2.0,1.0,3.0,70.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31131.0,1.0,827.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,4.0,58.0,NaN,1.0,1.0,160.0,144.0,74.0,2.0,140.0,72.0,2.0,134.0,74.0,2.0,NaN,NaN,NaN

In [34]:
# Load GHB_D.xpt file in src/Data/Glycohaemoglobin directory
A1c_2005_2006 = pd.read_sas("../Data/Glycohaemoglobin/GHB_D.XPT")
pd.set_option('display.max_columns', None)
A1c_2005_2006.head()

      SEQN  LBXGH
0  31129.0    5.2
1  31130.0    NaN
2  31131.0    6.0
3  31132.0    7.1
4  31133.0    4.7

In [35]:
# Load TRIGLY_D.xpt file in src/Data/CholesterolLDLTriglyceride directory
LDL_2005_2006 = pd.read_sas("../Data/CholesterolLDLTriglyceride/TRIGLY_D.XPT")
pd.set_option('display.max_columns', None)
LDL_2005_2006.head()

      SEQN      WTSAF2YR  LBXTR  LBDTRSI  LBDLDL  LBDLDLSI  LBXAPB  LBDAPBSI
0  31130.0  5.397605e-79    NaN      NaN     NaN       NaN     NaN       NaN
1  31131.0  6.755681e+04   86.0    0.971    49.0     1.267    50.0      0.50
2  31132.0  8.019396e+04   65.0    0.734    75.0     1.940    75.0      0.75
3  31133.0  1.566802e+04   61.0    0.689    81.0     2.095    75.0      0.75
4  31134.0  9.339954e+04  195.0    2.202    98.0     2.534   111.0      1.11

In [36]:
HDL_D_2005_2006 = pd.read_sas("../Data/CholesterolHDLTotal/HDL_D.XPT")
pd.set_option('display.max_columns', None)
HDL_D_2005_2006.head()

      SEQN  LBDHDD  LBDHDDSI
0  31128.0    55.0      1.42
1  31129.0    46.0      1.19
2  31130.0     NaN       NaN
3  31131.0    39.0      1.01
4  31132.0    59.0      1.53

In [37]:
HDL_D_2005_2006.shape

(8086, 3)

In [38]:
TCHOL_D_2005_2006 = pd.read_sas("../Data/CholesterolHDLTotal/TCHOL_D.XPT")
pd.set_option('display.max_columns', None)   
TCHOL_D_2005_2006.head()

      SEQN  LBXTC  LBDTCSI
0  31128.0  129.0     3.34
1  31129.0  170.0     4.40
2  31130.0    NaN      NaN
3  31131.0  105.0     2.72
4  31132.0  147.0     3.80

In [39]:
TCHOL_D_2005_2006.shape

(8086, 3)

In [40]:
# HDL_Total_2005_2006 is a combination of HDL_D_2005_2006 and TCHOL_D_2005_2006
HDL_Total_2005_2006 = pd.merge(HDL_D_2005_2006, TCHOL_D_2005_2006, on='SEQN')
HDL_Total_2005_2006.head()

      SEQN  LBDHDD  LBDHDDSI  LBXTC  LBDTCSI
0  31128.0    55.0      1.42  129.0     3.34
1  31129.0    46.0      1.19  170.0     4.40
2  31130.0     NaN       NaN    NaN      NaN
3  31131.0    39.0      1.01  105.0     2.72
4  31132.0    59.0      1.53  147.0     3.80

In [41]:
# Load HIQ_D.xpt file in src/Data/HealthInsurance directory
health_insurance_2005_2006 = pd.read_sas("../Data/HealthInsurance/HIQ_D.XPT")
pd.set_option('display.max_columns', None)
health_insurance_2005_2006.head()

,SEQN,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210
0,31127.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,9.0,2.0
1,31128.0,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
2,31129.0,1.0,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
3,31130.0,1.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,31131.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0

In [42]:
# Load HUQ_D.xpt file in src/Data/HospitalUtilizationAccessToCare directory
hospital_utilization_2005_2006 = pd.read_sas("../Data/HospitalUtilizationAccessToCare/HUQ_D.XPT")
pd.set_option('display.max_columns', None)
hospital_utilization_2005_2006.head()

,SEQN,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ090
0,31127.0,1.0,NaN,1.0,2.0,4.000000e+00,NaN,1.0,1.0,NaN
1,31128.0,4.0,3.0,1.0,2.0,2.000000e+00,NaN,2.0,NaN,2.0
2,31129.0,3.0,3.0,1.0,2.0,5.397605e-79,1.0,2.0,NaN,2.0
3,31130.0,3.0,3.0,2.0,NaN,1.000000e+00,NaN,2.0,NaN,2.0
4,31131.0,3.0,1.0,1.0,2.0,5.000000e+00,NaN,1.0,2.0,2.0

In [43]:
# Load SMQ_D.xpt file in src/Data/SmokingCigaretteUseAdult directory
smoking_2005_2006 = pd.read_sas("../Data/SmokingCigaretteUseAdult/SMQ_D.XPT")
pd.set_option('display.max_columns', None)
smoking_2005_2006.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMD070,SMD075,SMQ077,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ620,SMD630,SMQ660,SMQ664M,SMQ664C,SMQ664W,SMQ664B,SMQ664O,SMQ666M,SMQ666C,SMQ666K,SMQ666W,SMQ666B,SMQ666S,SMQ666O,SMQ670,SMAQUEX2
0,31129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1,31130.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,31131.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,31132.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,31133.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [44]:
# Merge all needed files by SEQN 

# List of all dataframes to merge
dataframes = [
    demographic_2005_2006, 
    blood_pressure_2005_2006, 
    A1c_2005_2006, 
    LDL_2005_2006, 
    HDL_Total_2005_2006, 
    health_insurance_2005_2006, 
    hospital_utilization_2005_2006, 
    smoking_2005_2006
]

# Merge all dataframes using reduce
df_nhanes_2005_2006 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), dataframes)
df_nhanes_2005_2006.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,DMDBORN,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDSCHOL,DMDMARTL,DMDHHSIZ,DMDFMSIZ,INDHHINC,INDFMINC,INDFMPIR,RIDEXPRG,DMDHRGND,DMDHRAGE,DMDHRBRN,DMDHREDU,DMDHRMAR,DMDHSEDU,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXDB,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,LBXGH,WTSAF2YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBXAPB,LBDAPBSI,LBDHDD,LBDHDDSI,LBXTC,LBDTCSI,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMD070,SMD075,SMQ077,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ620,SMD630,SMQ660,SMQ664M,SMQ664C,SMQ664W,SMQ664B,SMQ664O,SMQ666M,SMQ666C,SMQ666K,SMQ666W,SMQ666B,SMQ666S,SMQ666O,SMQ670,SMAQUEX2
0,31127.0,4.0,2.0,2.0,1.0,5.397605e-79,11.0,12.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,4.0,0.75,NaN,2.0,21.0,1.0,3.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,6434.950248,6571.396373,2.0,44.0,1.0,41.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,9.0,2.0,1.0,NaN,1.0,2.0,4.000000e+00,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31128.0,4.0,2.0,1.0,2.0,1.100000e+01,132.0,132.0,4.0,NaN,1.0,1.0,NaN,4.0,NaN,1.0,NaN,7.0,6.0,8.0,5.0,0.77,2.0,1.0,47.0,1.0,2.0,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,9081.700761,8987.041810,1.0,52.0,1.0,401.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,3.0,84.0,NaN,1.0,1.0,130.0,100.0,62.0,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,1.42,129.0,3.34,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,4.0,3.0,1.0,2.0,2.000000e+00,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,31129.0,4.0,2.0,2.0,1.0,1.500000e+01,189.0,190.0,4.0,NaN,1.0,1.0,NaN,10.0,NaN,1.0,5.0,6.0,6.0,10.0,10.0,2.71,NaN,1.0,41.0,1.0,4.0,1.0,4.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,5316.895215,5586.719481,1.0,51.0,1.0,664.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,4.0,96.0,NaN,1.0,1.0,140.0,104.0,76.0,2.0,106.0,72.0,2.0,108.0,70.0,1.0,NaN,NaN,NaN,5.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,1.19,170.0,4.40,1.0,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,3.0,3.0,1.0,2.0,5.397605e-79,1.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,31130.0,4.0,2.0,2.0,2.0,8.500000e+01,NaN,NaN,3.0,2.0,1.0,1.0,NaN,NaN,4.0,NaN,2.0,1.0,1.0,4.0,4.0,1.99,NaN,2.0,85.0,1.0,4.0,2.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,29960.839509,34030.994786,2.0,46.0,2.0,NaN,4.0,NaN,2.0,2.0,2.0,2.0,1.0,3.0,70.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,3.0,2.0,NaN,1.000000e+00,NaN,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,31131.0,4.0,2.0,2.0,2.0,4.400000e+01,535.0,536.0,4.0,2.0,1.0,1.0,NaN,NaN,4.0,NaN,1.0,4.0,4.0,11.0,11.0,4.65,2.0,1.0,36.0,1.0,5.0,1.0,4.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,26457.708180,26770.584605,1.0,48.0,1.0,827.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,4.0,58.0,NaN,1.0,1.0,160.0,144.0,74.0,2.0,140.0,72.0,2.0,134.0,74.0,2.0,NaN,NaN,NaN,6.0,6.755681e+04,86.0,0.971,49.0,1.267,50.0,0.5,39.0,1.01,105.0,2.72,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,1.0,1.0,2.0,5.000000e+00,NaN,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [45]:
df_nhanes_2005_2006.shape

(10348, 145)

## 2007 - 2008

In [46]:
# Load DEMO_E.xpt file in src/Data/Demographics directory
demographic_2007_2008 = pd.read_sas("../Data/Demographics/DEMO_E.XPT")
pd.set_option('display.max_columns', None)
demographic_2007_2008.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,DMDBORN2,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDSCHOL,DMDMARTL,DMDHHSIZ,DMDFMSIZ,INDHHIN2,INDFMIN2,INDFMPIR,RIDEXPRG,DMDHRGND,DMDHRAGE,DMDHRBR2,DMDHREDU,DMDHRMAR,DMDHSEDU,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,41475.0,5.0,2.0,2.0,2.0,62.0,751.0,752.0,5.0,2.0,1.0,1.0,NaN,NaN,3.0,NaN,1.0,2.0,2.0,6.0,6.0,1.83,NaN,1.0,64.0,1.0,4.0,1.0,3.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,59356.356426,60045.772497,1.0,60.0
1,41476.0,5.0,2.0,1.0,2.0,6.0,81.0,82.0,5.0,NaN,1.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,6.0,6.0,15.0,15.0,5.00,NaN,1.0,51.0,1.0,5.0,1.0,5.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,35057.218405,35353.210440,1.0,70.0
2,41477.0,5.0,2.0,2.0,1.0,71.0,859.0,860.0,3.0,1.0,1.0,1.0,NaN,NaN,3.0,NaN,1.0,2.0,2.0,5.0,5.0,1.50,NaN,1.0,71.0,1.0,3.0,1.0,4.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,9935.266183,10074.150074,1.0,67.0
3,41478.0,5.0,2.0,2.0,2.0,1.0,17.0,17.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0,3.0,3.0,0.66,NaN,2.0,25.0,1.0,2.0,1.0,3.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,12846.712058,14560.472652,2.0,59.0
4,41479.0,5.0,2.0,1.0,1.0,52.0,629.0,630.0,1.0,2.0,2.0,1.0,6.0,NaN,1.0,NaN,1.0,5.0,5.0,8.0,8.0,2.20,NaN,1.0,52.0,2.0,1.0,1.0,3.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,8727.797555,9234.055759,1.0,70.0

In [47]:
# Load BPX_E.xpt file in src/Data/BloodPressure directory
blood_pressure_2007_2008 = pd.read_sas("../Data/BloodPressure/BPX_E.XPT")
pd.set_option('display.max_columns', None)
blood_pressure_2007_2008.head()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4
0,41475.0,1.0,612.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,5.0,66.0,1.0,1.0,150.0,128.0,64.0,2.0,122.0,60.0,2.0,120.0,58.0,2.0,NaN,NaN,NaN
1,41476.0,1.0,9.0,NaN,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41477.0,1.0,625.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,4.0,78.0,1.0,1.0,180.0,144.0,60.0,2.0,148.0,60.0,2.0,142.0,38.0,2.0,NaN,NaN,NaN
3,41478.0,1.0,278.0,NaN,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41479.0,1.0,620.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,4.0,62.0,1.0,1.0,140.0,112.0,70.0,2.0,108.0,66.0,2.0,106.0,66.0,2.0,NaN,NaN,NaN

In [48]:
# Load GHB_E.xpt file in src/Data/Glycohaemoglobin directory
A1c_2007_2008 = pd.read_sas("../Data/Glycohaemoglobin/GHB_E.XPT")
pd.set_option('display.max_columns', None)
A1c_2007_2008.head()

      SEQN  LBXGH
0  41475.0    5.7
1  41477.0    9.5
2  41479.0    5.7
3  41481.0    NaN
4  41482.0    7.0

In [49]:
# Load TRIGLY_E.xpt file in src/Data/CholesterolLDLTriglyceride directory
LDL_2007_2008 = pd.read_sas("../Data/CholesterolLDLTriglyceride/TRIGLY_E.XPT")
pd.set_option('display.max_columns', None)
LDL_2007_2008.head()

      SEQN      WTSAF2YR  LBXTR  LBDTRSI  LBDLDL  LBDLDLSI
0  41479.0  1.998360e+04   99.0    1.118   121.0     3.129
1  41481.0  5.397605e-79    NaN      NaN     NaN       NaN
2  41485.0  4.344144e+04  172.0    1.942   119.0     3.077
3  41486.0  1.492377e+04  233.0    2.631   110.0     2.845
4  41487.0  2.124669e+05  124.0    1.400   105.0     2.715

In [50]:
# HDL
HDL_E_2007_2008 = pd.read_sas("../Data/CholesterolHDLTotal/HDL_E.XPT")
pd.set_option('display.max_columns', None)
HDL_E_2007_2008.head()

      SEQN  LBDHDD  LBDHDDSI
0  41475.0    47.0      1.22
1  41476.0    45.0      1.16
2  41477.0    34.0      0.88
3  41479.0    47.0      1.22
4  41480.0     NaN       NaN

In [51]:
HDL_E_2007_2008.shape

(8132, 3)

In [52]:
TCHOL_E_2007_2008 = pd.read_sas("../Data/CholesterolHDLTotal/TCHOL_E.XPT")
pd.set_option('display.max_columns', None)   
TCHOL_E_2007_2008.head()

      SEQN  LBXTC  LBDTCSI
0  41475.0  179.0     4.63
1  41476.0  143.0     3.70
2  41477.0  191.0     4.94
3  41479.0  188.0     4.86
4  41480.0    NaN      NaN

In [53]:
TCHOL_E_2007_2008.shape

(8132, 3)

In [54]:
HDL_Total_2007_2008 = pd.merge(HDL_E_2007_2008, TCHOL_E_2007_2008, on='SEQN')
HDL_Total_2007_2008.head()

      SEQN  LBDHDD  LBDHDDSI  LBXTC  LBDTCSI
0  41475.0    47.0      1.22  179.0     4.63
1  41476.0    45.0      1.16  143.0     3.70
2  41477.0    34.0      0.88  191.0     4.94
3  41479.0    47.0      1.22  188.0     4.86
4  41480.0     NaN       NaN    NaN      NaN

In [55]:
# Load HIQ_E.xpt file in src/Data/HealthInsurance directory
health_insurance_2007_2008 = pd.read_sas("../Data/HealthInsurance/HIQ_E.XPT")
pd.set_option('display.max_columns', None)
health_insurance_2007_2008.head()

,SEQN,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210
0,41475.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41476.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
2,41477.0,1.0,NaN,15.0,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
3,41478.0,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,41479.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# Load HUQ_E.xpt file in src/Data/HospitalUtilizationAccessToCare directory
hospital_utilization_2007_2008 = pd.read_sas("../Data/HospitalUtilizationAccessToCare/HUQ_E.XPT")
pd.set_option('display.max_columns', None)
hospital_utilization_2007_2008.head()

,SEQN,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ090
0,41475.0,4.0,2.0,1.0,1.0,3.000000e+00,NaN,2.0,NaN,2.0
1,41476.0,1.0,3.0,1.0,2.0,1.000000e+00,NaN,2.0,NaN,2.0
2,41477.0,3.0,3.0,1.0,1.0,2.000000e+00,NaN,2.0,NaN,2.0
3,41478.0,3.0,3.0,1.0,2.0,2.000000e+00,NaN,2.0,NaN,NaN
4,41479.0,3.0,3.0,1.0,2.0,5.397605e-79,4.0,2.0,NaN,2.0

In [57]:
# Load SMQ_E.xpt file in src/Data/SmokingCigaretteUseAdult directory
smoking_2007_2008 = pd.read_sas("../Data/SmokingCigaretteUseAdult/SMQ_E.XPT")
pd.set_option('display.max_columns', None)
smoking_2007_2008.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ077,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ620,SMD630,SMQ660,SMQ664M,SMQ664C,SMQ664W,SMQ664B,SMQ664O,SMQ666M,SMQ666C,SMQ666K,SMQ666W,SMQ666B,SMQ666S,SMQ666O,SMQ670,SMAQUEX2
0,41475.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,41477.0,1.0,15.0,3.0,30.0,4.0,35.0,8.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,41479.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,41481.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,41482.0,1.0,16.0,3.0,9.0,4.0,55.0,30.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [58]:
# Merge all needed files by SEQN 

# List of all dataframes to merge
dataframes = [
    demographic_2007_2008, 
    blood_pressure_2007_2008, 
    A1c_2007_2008, 
    LDL_2007_2008, 
    HDL_Total_2007_2008, 
    health_insurance_2007_2008, 
    hospital_utilization_2007_2008, 
    smoking_2007_2008
]

# Merge all dataframes using reduce
df_nhanes_2007_2008 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), dataframes)
df_nhanes_2007_2008.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,DMDBORN2,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDSCHOL,DMDMARTL,DMDHHSIZ,DMDFMSIZ,INDHHIN2,INDFMIN2,INDFMPIR,RIDEXPRG,DMDHRGND,DMDHRAGE,DMDHRBR2,DMDHREDU,DMDHRMAR,DMDHSEDU,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,LBXGH,WTSAF2YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBDHDD,LBDHDDSI,LBXTC,LBDTCSI,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ077,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ620,SMD630,SMQ660,SMQ664M,SMQ664C,SMQ664W,SMQ664B,SMQ664O,SMQ666M,SMQ666C,SMQ666K,SMQ666W,SMQ666B,SMQ666S,SMQ666O,SMQ670,SMAQUEX2
0,41475.0,5.0,2.0,2.0,2.0,62.0,751.0,752.0,5.0,2.0,1.0,1.0,NaN,NaN,3.0,NaN,1.0,2.0,2.0,6.0,6.0,1.83,NaN,1.0,64.0,1.0,4.0,1.0,3.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,59356.356426,60045.772497,1.0,60.0,1.0,612.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,5.0,66.0,1.0,1.0,150.0,128.0,64.0,2.0,122.0,60.0,2.0,120.0,58.0,2.0,NaN,NaN,NaN,5.7,NaN,NaN,NaN,NaN,NaN,47.0,1.22,179.0,4.63,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,1.0,1.0,3.000000e+00,NaN,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,41476.0,5.0,2.0,1.0,2.0,6.0,81.0,82.0,5.0,NaN,1.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,6.0,6.0,15.0,15.0,5.00,NaN,1.0,51.0,1.0,5.0,1.0,5.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,35057.218405,35353.210440,1.0,70.0,1.0,9.0,NaN,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,1.16,143.0,3.70,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,3.0,1.0,2.0,1.000000e+00,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41477.0,5.0,2.0,2.0,1.0,71.0,859.0,860.0,3.0,1.0,1.0,1.0,NaN,NaN,3.0,NaN,1.0,2.0,2.0,5.0,5.0,1.50,NaN,1.0,71.0,1.0,3.0,1.0,4.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,9935.266183,10074.150074,1.0,67.0,1.0,625.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,4.0,78.0,1.0,1.0,180.0,144.0,60.0,2.0,148.0,60.0,2.0,142.0,38.0,2.0,NaN,NaN,NaN,9.5,NaN,NaN,NaN,NaN,NaN,34.0,0.88,191.0,4.94,1.0,NaN,15.0,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,3.0,3.0,1.0,1.0,2.000000e+00,NaN,2.0,NaN,2.0,1.0,15.0,3.0,30.0,4.0,35.0,8.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,41478.0,5.0,2.0,2.0,2.0,1.0,17.0,17.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0,3.0,3.0,0.66,NaN,2.0,25.0,1.0,2.0,1.0,3.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,12846.712058,14560.472652,2.0,59.0,1.0,278.0,NaN,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,3.0,1.0,2.0,2.000000e+00,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41479.0,5.0,2.0,1.0,1.0,52.0,629.0,630.0,1.0,2.0,2.0,1.0,6.0,NaN,1.0,NaN,1.0,5.0,5.0,8.0,8.0,2.20,NaN,1.0,52.0,2.0,1.0,1.0,3.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,8727.797555,9234.055759,1.0,70.0,1.0,620.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,4.0,62.0,1.0,1.0,140.0,112.0,70.0,2.0,108.0,66.0,2.0,106.0,66.0,2.0,NaN,NaN,NaN,5.7,19983.6,99.0,1.118,121.0,3.129,47.0,1.22,188.0,4.86,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,1.0,2.0,5.397605e-79,4.0,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [59]:
df_nhanes_2007_2008.shape

(10149, 140)

## 2009 - 2010

In [60]:
# Load DEMO_F.xpt file in src/Data/Demographics directory
demographic_2009_2010 = pd.read_sas("../Data/Demographics/DEMO_F.XPT")
pd.set_option('display.max_columns', None)
demographic_2009_2010.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,DMDBORN2,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDSCHOL,DMDMARTL,DMDHHSIZ,DMDFMSIZ,INDHHIN2,INDFMIN2,INDFMPIR,RIDEXPRG,DMDHRGND,DMDHRAGE,DMDHRBR2,DMDHREDU,DMDHRMAR,DMDHSEDU,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,51624.0,6.0,2.0,1.0,1.0,34.0,409.0,410.0,3.0,2.0,1.0,1.0,NaN,NaN,3.0,NaN,1.0,4.0,4.0,6.0,6.0,1.36,NaN,1.0,34.0,1.0,3.0,1.0,3.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,80100.543512,81528.772006,1.0,83.0
1,51625.0,6.0,2.0,2.0,1.0,4.0,49.0,50.0,5.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0,5.0,5.0,1.07,NaN,1.0,38.0,5.0,5.0,1.0,5.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,53901.104285,56995.035425,2.0,79.0
2,51626.0,6.0,2.0,1.0,1.0,16.0,202.0,202.0,4.0,NaN,1.0,1.0,NaN,8.0,NaN,1.0,NaN,4.0,4.0,8.0,8.0,2.27,NaN,1.0,47.0,1.0,1.0,77.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,13953.078343,14509.278860,1.0,84.0
3,51627.0,6.0,2.0,1.0,1.0,10.0,131.0,132.0,4.0,NaN,1.0,1.0,NaN,4.0,NaN,1.0,NaN,6.0,6.0,5.0,5.0,0.81,NaN,1.0,53.0,1.0,3.0,6.0,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,11664.899398,12041.635365,2.0,86.0
4,51628.0,6.0,2.0,2.0,2.0,60.0,722.0,722.0,4.0,2.0,1.0,1.0,NaN,NaN,3.0,NaN,2.0,2.0,2.0,3.0,3.0,0.69,NaN,2.0,60.0,1.0,3.0,2.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,20090.339256,21000.338724,2.0,75.0

In [61]:
# Load BPX_F.xpt file in src/Data/BloodPressure directory
blood_pressure_2009_2010 = pd.read_sas("../Data/BloodPressure/BPX_F.XPT")
pd.set_option('display.max_columns', None)
blood_pressure_2009_2010.head()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4
0,51624.0,1.0,583.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,4.0,70.0,1.0,1.0,150.0,114.0,88.0,2.0,114.0,88.0,2.0,112.0,82.0,2.0,NaN,NaN,NaN
1,51625.0,1.0,278.0,NaN,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,51626.0,1.0,689.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,3.0,68.0,1.0,1.0,140.0,112.0,62.0,2.0,114.0,60.0,2.0,104.0,58.0,2.0,NaN,NaN,NaN
3,51627.0,1.0,699.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,3.0,68.0,1.0,1.0,120.0,92.0,36.0,2.0,94.0,44.0,2.0,92.0,38.0,2.0,NaN,NaN,NaN
4,51628.0,1.0,1098.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,5.0,72.0,1.0,1.0,170.0,154.0,70.0,2.0,150.0,68.0,2.0,150.0,68.0,2.0,NaN,NaN,NaN

In [62]:
# Load GHB_F.xpt file in src/Data/Glycohaemoglobin directory
A1c_2009_2010 = pd.read_sas("../Data/Glycohaemoglobin/GHB_F.XPT")
pd.set_option('display.max_columns', None)
A1c_2009_2010.head()

      SEQN  LBXGH
0  51624.0    5.2
1  51626.0    5.7
2  51628.0    6.0
3  51629.0    5.1
4  51630.0    5.3

In [63]:
# Load TRIGLY_F.xpt file in src/Data/CholesterolLDLTriglyceride directory
LDL_2009_2010 = pd.read_sas("../Data/CholesterolLDLTriglyceride/TRIGLY_F.XPT")
pd.set_option('display.max_columns', None)
LDL_2009_2010.head()

      SEQN      WTSAF2YR  LBXTR  LBDTRSI  LBDLDL  LBDLDLSI
0  51641.0  4.048164e+04   72.0    0.813   118.0     3.051
1  51645.0  5.397605e-79  220.0    2.484   133.0     3.439
2  51653.0  1.944081e+05  235.0    2.653   113.0     2.922
3  51656.0  2.096730e+05  163.0    1.840    94.0     2.431
4  51661.0  1.393967e+04  128.0    1.445   107.0     2.767

In [64]:
HDL_F_2009_2010 = pd.read_sas("../Data/CholesterolHDLTotal/HDL_F.XPT")
pd.set_option('display.max_columns', None)
HDL_F_2009_2010.head()

      SEQN  LBDHDD  LBDHDDSI
0  51624.0    50.0      1.29
1  51626.0    60.0      1.55
2  51627.0    73.0      1.89
3  51628.0    45.0      1.16
4  51629.0    45.0      1.16

In [65]:
TCHOL_F_2009_2010 = pd.read_sas("../Data/CholesterolHDLTotal/TCHOL_F.XPT")
pd.set_option('display.max_columns', None)   
TCHOL_F_2009_2010.head()

      SEQN  LBXTC  LBDTCSI
0  51624.0  135.0     3.49
1  51626.0  192.0     4.97
2  51627.0  161.0     4.16
3  51628.0  202.0     5.22
4  51629.0  160.0     4.14

In [66]:
HDL_Total_2009_2010 = pd.merge(HDL_F_2009_2010, TCHOL_F_2009_2010, on='SEQN')
HDL_Total_2009_2010.head()

      SEQN  LBDHDD  LBDHDDSI  LBXTC  LBDTCSI
0  51624.0    50.0      1.29  135.0     3.49
1  51626.0    60.0      1.55  192.0     4.97
2  51627.0    73.0      1.89  161.0     4.16
3  51628.0    45.0      1.16  202.0     5.22
4  51629.0    45.0      1.16  160.0     4.14

In [67]:
# Load HIQ_F.xpt file in src/Data/HealthInsurance directory
health_insurance_2009_2010 = pd.read_sas("../Data/HealthInsurance/HIQ_F.XPT")
pd.set_option('display.max_columns', None)
health_insurance_2009_2010.head()

,SEQN,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210
0,51624.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51625.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
2,51626.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
3,51627.0,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,51628.0,1.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0

In [68]:
# Load HUQ_F.xpt file in src/Data/HospitalUtilizationAccessToCare directory
hospital_utilization_2009_2010 = pd.read_sas("../Data/HospitalUtilizationAccessToCare/HUQ_F.XPT")
pd.set_option('display.max_columns', None)
hospital_utilization_2009_2010.head()

,SEQN,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ090
0,51624.0,3.0,3.0,1.0,2.0,4.0,NaN,2.0,NaN,2.0
1,51625.0,1.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0
2,51626.0,2.0,1.0,1.0,1.0,1.0,NaN,2.0,NaN,1.0
3,51627.0,1.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0
4,51628.0,4.0,2.0,1.0,2.0,1.0,NaN,1.0,1.0,1.0

In [69]:
# Load SMQ_F.xpt file in src/Data/SmokingCigaretteUseAdult directory
smoking_2009_2010 = pd.read_sas("../Data/SmokingCigaretteUseAdult/SMQ_F.XPT")
pd.set_option('display.max_columns', None)
smoking_2009_2010.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ077,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ620,SMD630,SMQ660,SMQ664M,SMQ664C,SMQ664W,SMQ664B,SMQ664O,SMQ666M,SMQ666C,SMQ666K,SMQ666W,SMQ666B,SMQ666S,SMQ666O,SMQ670,SMAQUEX2
0,51624.0,1.0,18.0,3.0,1.0,4.0,33.0,30.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,51626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,51628.0,1.0,16.0,1.0,NaN,NaN,NaN,NaN,4.0,30.0,4.0,2.0,b'',b'NEWPORT',1.0,1.000000e+00,2.0,16.0,1.3,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,51629.0,1.0,15.0,3.0,6.0,4.0,17.0,20.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,51630.0,1.0,38.0,1.0,NaN,NaN,NaN,NaN,1.0,30.0,8.0,2.0,b'',b'MARLBORO ULTRA LIGHT',1.0,5.397605e-79,2.0,6.0,0.6,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [70]:
# Merge all needed files by SEQN 

# List of all dataframes to merge
dataframes = [
    demographic_2009_2010, 
    blood_pressure_2009_2010, 
    A1c_2009_2010, 
    LDL_2009_2010, 
    HDL_Total_2009_2010, 
    health_insurance_2009_2010, 
    hospital_utilization_2009_2010, 
    smoking_2009_2010
]

# Merge all dataframes using reduce
df_nhanes_2009_2010 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), dataframes)
df_nhanes_2009_2010.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,DMDBORN2,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDSCHOL,DMDMARTL,DMDHHSIZ,DMDFMSIZ,INDHHIN2,INDFMIN2,INDFMPIR,RIDEXPRG,DMDHRGND,DMDHRAGE,DMDHRBR2,DMDHREDU,DMDHRMAR,DMDHSEDU,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,LBXGH,WTSAF2YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBDHDD,LBDHDDSI,LBXTC,LBDTCSI,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ077,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ620,SMD630,SMQ660,SMQ664M,SMQ664C,SMQ664W,SMQ664B,SMQ664O,SMQ666M,SMQ666C,SMQ666K,SMQ666W,SMQ666B,SMQ666S,SMQ666O,SMQ670,SMAQUEX2
0,51624.0,6.0,2.0,1.0,1.0,34.0,409.0,410.0,3.0,2.0,1.0,1.0,NaN,NaN,3.0,NaN,1.0,4.0,4.0,6.0,6.0,1.36,NaN,1.0,34.0,1.0,3.0,1.0,3.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,80100.543512,81528.772006,1.0,83.0,1.0,583.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,4.0,70.0,1.0,1.0,150.0,114.0,88.0,2.0,114.0,88.0,2.0,112.0,82.0,2.0,NaN,NaN,NaN,5.2,NaN,NaN,NaN,NaN,NaN,50.0,1.29,135.0,3.49,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,1.0,2.0,4.0,NaN,2.0,NaN,2.0,1.0,18.0,3.0,1.0,4.0,33.0,30.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,51625.0,6.0,2.0,2.0,1.0,4.0,49.0,50.0,5.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0,5.0,5.0,1.07,NaN,1.0,38.0,5.0,5.0,1.0,5.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,53901.104285,56995.035425,2.0,79.0,1.0,278.0,NaN,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,51626.0,6.0,2.0,1.0,1.0,16.0,202.0,202.0,4.0,NaN,1.0,1.0,NaN,8.0,NaN,1.0,NaN,4.0,4.0,8.0,8.0,2.27,NaN,1.0,47.0,1.0,1.0,77.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,13953.078343,14509.278860,1.0,84.0,1.0,689.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,3.0,68.0,1.0,1.0,140.0,112.0,62.0,2.0,114.0,60.0,2.0,104.0,58.0,2.0,NaN,NaN,NaN,5.7,NaN,NaN,NaN,NaN,NaN,60.0,1.55,192.0,4.97,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,1.0,1.0,1.0,1.0,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,51627.0,6.0,2.0,1.0,1.0,10.0,131.0,132.0,4.0,NaN,1.0,1.0,NaN,4.0,NaN,1.0,NaN,6.0,6.0,5.0,5.0,0.81,NaN,1.0,53.0,1.0,3.0,6.0,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,11664.899398,12041.635365,2.0,86.0,1.0,699.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,3.0,68.0,1.0,1.0,120.0,92.0,36.0,2.0,94.0,44.0,2.0,92.0,38.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,1.89,161.0,4.16,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,51628.0,6.0,2.0,2.0,2.0,60.0,722.0,722.0,4.0,2.0,1.0,1.0,NaN,NaN,3.0,NaN,2.0,2.0,2.0,3.0,3.0,0.69,NaN,2.0,60.0,1.0,3.0,2.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,20090.339256,21000.338724,2.0,75.0,1.0,1098.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,5.0,72.0,1.0,1.0,170.0,154.0,70.0,2.0,150.0,68.0,2.0,150.0,68.0,2.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,45.0,1.16,202.0,5.22,1.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,4.0,2.0,1.0,2.0,1.0,NaN,1.0,1.0,1.0,1.0,16.0,1.0,NaN,NaN,NaN,NaN,4.0,30.0,4.0,2.0,b'',b'NEWPORT',1.0,1.0,2.0,16.0,1.3,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [71]:
df_nhanes_2009_2010.shape

(10537, 139)

## 2011 - 2012

In [72]:
# Load DEMO_G.xpt file in src/Data/Demographics directory
demographic_2011_2012 = pd.read_sas("../Data/Demographics/DEMO_G.XPT")
pd.set_option('display.max_columns', None)
demographic_2011_2012.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGY,RIDEXAGM,DMQMILIZ,DMQADFC,DMDBORN4,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDMARTL,RIDEXPRG,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR,DMDHHSIZ,DMDFMSIZ,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRGND,DMDHRAGE,DMDHRBR4,DMDHREDU,DMDHRMAR,DMDHSEDU
0,62161.0,7.0,2.0,1.0,22.0,NaN,3.0,3.0,2.0,NaN,NaN,2.0,NaN,1.0,1.0,NaN,NaN,3.0,5.0,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,102641.406474,104236.582554,1.0,91.0,14.0,14.0,3.15,5.0,5.0,5.397605e-79,1.0,5.397605e-79,2.0,50.0,1.0,5.0,1.0,5.0
1,62162.0,7.0,2.0,2.0,3.0,NaN,1.0,1.0,1.0,3.0,41.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,15457.736897,16116.354010,3.0,92.0,4.0,4.0,0.60,6.0,6.0,2.000000e+00,2.0,5.397605e-79,2.0,24.0,1.0,3.0,6.0,NaN
2,62163.0,7.0,2.0,1.0,14.0,NaN,5.0,6.0,2.0,14.0,177.0,NaN,NaN,1.0,1.0,NaN,8.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,7397.684828,7869.485117,3.0,90.0,15.0,15.0,4.07,5.0,5.0,5.397605e-79,2.0,1.000000e+00,1.0,42.0,1.0,5.0,1.0,4.0
3,62164.0,7.0,2.0,2.0,44.0,NaN,3.0,3.0,1.0,NaN,NaN,1.0,2.0,1.0,1.0,NaN,NaN,4.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,127351.373299,127965.226204,1.0,94.0,8.0,8.0,1.67,5.0,5.0,1.000000e+00,2.0,5.397605e-79,1.0,52.0,1.0,4.0,1.0,4.0
4,62165.0,7.0,2.0,2.0,14.0,NaN,4.0,4.0,2.0,14.0,179.0,NaN,NaN,1.0,1.0,NaN,7.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,12209.744980,13384.042162,2.0,90.0,4.0,4.0,0.57,5.0,5.0,1.000000e+00,2.0,5.397605e-79,2.0,33.0,2.0,2.0,77.0,NaN

In [73]:
# Load BPX_G.xpt file in src/Data/BloodPressure directory
blood_pressure_2011_2012 = pd.read_sas("../Data/BloodPressure/BPX_G.XPT")
pd.set_option('display.max_columns', None)
blood_pressure_2011_2012.head()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4
0,62161.0,1.0,596.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,4.0,82.0,1.0,1.0,130.0,110.0,82.0,2.0,104.0,68.0,2.0,118.0,74.0,2.0,NaN,NaN,NaN
1,62162.0,1.0,64.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62163.0,1.0,788.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,3.0,72.0,1.0,1.0,140.0,112.0,38.0,2.0,108.0,36.0,2.0,106.0,38.0,2.0,NaN,NaN,NaN
3,62164.0,1.0,527.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,3.0,82.0,1.0,1.0,140.0,116.0,56.0,2.0,118.0,66.0,2.0,120.0,58.0,2.0,NaN,NaN,NaN
4,62165.0,1.0,468.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,3.0,70.0,1.0,1.0,130.0,110.0,64.0,2.0,104.0,72.0,2.0,106.0,78.0,2.0,NaN,NaN,NaN

In [74]:
# Load GHB_G.xpt file in src/Data/Glycohaemoglobin directory
A1c_2011_2012 = pd.read_sas("../Data/Glycohaemoglobin/GHB_G.XPT")
pd.set_option('display.max_columns', None)
A1c_2011_2012.head()

      SEQN  LBXGH
0  62161.0    5.1
1  62163.0    5.5
2  62164.0    4.9
3  62165.0    5.9
4  62169.0    5.4

In [75]:
# Load TRIGLY_G.xpt file in src/Data/CholesterolLDLTriglyceride directory
LDL_2011_2012 = pd.read_sas("../Data/CholesterolLDLTriglyceride/TRIGLY_G.XPT")
pd.set_option('display.max_columns', None)
LDL_2011_2012.head()

      SEQN      WTSAF2YR  LBXTR  LBDTRSI  LBDLDL  LBDLDLSI
0  62161.0  2.400117e+05   84.0    0.948   110.0     2.845
1  62164.0  2.881828e+05   56.0    0.632   151.0     3.905
2  62165.0  3.274703e+04   71.0    0.802    84.0     2.172
3  62169.0  3.006101e+04   78.0    0.881    73.0     1.888
4  62170.0  5.397605e-79   44.0    0.497    77.0     1.991

In [76]:
HDL_G_2011_2012 = pd.read_sas("../Data/CholesterolHDLTotal/HDL_G.XPT")
pd.set_option('display.max_columns', None)
HDL_G_2011_2012.head()

      SEQN  LBDHDD  LBDHDDSI
0  62161.0    41.0      1.06
1  62163.0    44.0      1.14
2  62164.0    28.0      0.72
3  62165.0    63.0      1.63
4  62166.0     NaN       NaN

In [77]:
TCHOL_G_2011_2012 = pd.read_sas("../Data/CholesterolHDLTotal/TCHOL_G.XPT")
pd.set_option('display.max_columns', None)   
TCHOL_G_2011_2012.head()

      SEQN  LBXTC  LBDTCSI
0  62161.0  168.0     4.34
1  62163.0  154.0     3.98
2  62164.0  190.0     4.91
3  62165.0  161.0     4.16
4  62166.0    NaN      NaN

In [78]:
HDL_Total_2011_2012 = pd.merge(HDL_G_2011_2012, TCHOL_G_2011_2012, on='SEQN')
HDL_Total_2011_2012.head()

      SEQN  LBDHDD  LBDHDDSI  LBXTC  LBDTCSI
0  62161.0    41.0      1.06  168.0     4.34
1  62163.0    44.0      1.14  154.0     3.98
2  62164.0    28.0      0.72  190.0     4.91
3  62165.0    63.0      1.63  161.0     4.16
4  62166.0     NaN       NaN    NaN      NaN

In [79]:
# Load HIQ_G.xpt file in src/Data/HealthInsurance directory
health_insurance_2011_2012 = pd.read_sas("../Data/HealthInsurance/HIQ_G.XPT")
pd.set_option('display.max_columns', None)
health_insurance_2011_2012.head()

,SEQN,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210
0,62161.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
1,62162.0,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
2,62163.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
3,62164.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,62165.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
# Load HUQ_G.xpt file in src/Data/HospitalUtilizationAccessToCare directory
hospital_utilization_2011_2012 = pd.read_sas("../Data/HospitalUtilizationAccessToCare/HUQ_G.XPT")
pd.set_option('display.max_columns', None)
hospital_utilization_2011_2012.head()

,SEQN,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ090
0,62161.0,1.0,3.0,1.0,1.0,2.0,NaN,2.0,NaN,2.0
1,62162.0,1.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,NaN
2,62163.0,2.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0
3,62164.0,1.0,1.0,1.0,2.0,1.0,NaN,2.0,NaN,2.0
4,62165.0,4.0,1.0,1.0,2.0,1.0,NaN,2.0,NaN,2.0

In [81]:
# Load SMQ_G.xpt file in src/Data/SmokingCigaretteUseAdult directory
smoking_2011_2012 = pd.read_sas("../Data/SmokingCigaretteUseAdult/SMQ_G.XPT")
pd.set_option('display.max_columns', None)
smoking_2011_2012.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ077,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ621,SMD630,SMQ660,SMQ664M,SMQ664C,SMQ664W,SMQ664B,SMQ664O,SMQ670,SMAQUEX2
0,62161.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,62163.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,62164.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,62165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,62169.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [82]:
# Merge all needed files by SEQN 

# List of all dataframes to merge
dataframes = [
    demographic_2011_2012, 
    blood_pressure_2011_2012, 
    A1c_2011_2012, 
    LDL_2011_2012, 
    HDL_Total_2011_2012, 
    health_insurance_2011_2012, 
    hospital_utilization_2011_2012, 
    smoking_2011_2012
]

# Merge all dataframes using reduce
df_nhanes_2011_2012 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), dataframes)
df_nhanes_2011_2012.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGY,RIDEXAGM,DMQMILIZ,DMQADFC,DMDBORN4,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDMARTL,RIDEXPRG,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR,DMDHHSIZ,DMDFMSIZ,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRGND,DMDHRAGE,DMDHRBR4,DMDHREDU,DMDHRMAR,DMDHSEDU,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,LBXGH,WTSAF2YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBDHDD,LBDHDDSI,LBXTC,LBDTCSI,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ077,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ621,SMD630,SMQ660,SMQ664M,SMQ664C,SMQ664W,SMQ664B,SMQ664O,SMQ670,SMAQUEX2
0,62161.0,7.0,2.0,1.0,22.0,NaN,3.0,3.0,2.0,NaN,NaN,2.0,NaN,1.0,1.0,NaN,NaN,3.0,5.0,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,102641.406474,104236.582554,1.0,91.0,14.0,14.0,3.15,5.0,5.0,5.397605e-79,1.0,5.397605e-79,2.0,50.0,1.0,5.0,1.0,5.0,1.0,596.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,4.0,82.0,1.0,1.0,130.0,110.0,82.0,2.0,104.0,68.0,2.0,118.0,74.0,2.0,NaN,NaN,NaN,5.1,240011.713,84.0,0.948,110.0,2.845,41.0,1.06,168.0,4.34,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,3.0,1.0,1.0,2.0,NaN,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,62162.0,7.0,2.0,2.0,3.0,NaN,1.0,1.0,1.0,3.0,41.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,15457.736897,16116.354010,3.0,92.0,4.0,4.0,0.60,6.0,6.0,2.000000e+00,2.0,5.397605e-79,2.0,24.0,1.0,3.0,6.0,NaN,1.0,64.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62163.0,7.0,2.0,1.0,14.0,NaN,5.0,6.0,2.0,14.0,177.0,NaN,NaN,1.0,1.0,NaN,8.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,7397.684828,7869.485117,3.0,90.0,15.0,15.0,4.07,5.0,5.0,5.397605e-79,2.0,1.000000e+00,1.0,42.0,1.0,5.0,1.0,4.0,1.0,788.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,3.0,72.0,1.0,1.0,140.0,112.0,38.0,2.0,108.0,36.0,2.0,106.0,38.0,2.0,NaN,NaN,NaN,5.5,NaN,NaN,NaN,NaN,NaN,44.0,1.14,154.0,3.98,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,62164.0,7.0,2.0,2.0,44.0,NaN,3.0,3.0,1.0,NaN,NaN,1.0,2.0,1.0,1.0,NaN,NaN,4.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,127351.373299,127965.226204,1.0,94.0,8.0,8.0,1.67,5.0,5.0,1.000000e+00,2.0,5.397605e-79,1.0,52.0,1.0,4.0,1.0,4.0,1.0,527.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,3.0,82.0,1.0,1.0,140.0,116.0,56.0,2.0,118.0,66.0,2.0,120.0,58.0,2.0,NaN,NaN,NaN,4.9,288182.780,56.0,0.632,151.0,3.905,28.0,0.72,190.0,4.91,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,1.0,1.0,2.0,1.0,NaN,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,62165.0,7.0,2.0,2.0,14.0,NaN,4.0,4.0,2.0,14.0,179.0,NaN,NaN,1.0,1.0,NaN,7.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,12209.744980,13384.042162,2.0,90.0,4.0,4.0,0.57,5.0,5.0,1.000000e+00,2.0,5.397605e-79,2.0,33.0,2.0,2.0,77.0,NaN,1.0,468.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,3.0,70.0,1.0,1.0,130.0,110.0,64.0,2.0,104.0,72.0,2.0,106.0,78.0,2.0,NaN,NaN,NaN,5.9,32747.025,71.0,0.802,84.0,2.172,63.0,1.63,161.0,4.16,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1.0,2.0,1.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [83]:
df_nhanes_2011_2012.shape

(9756, 138)

## 2013 - 2014

In [84]:
# Load DEMO_H.xpt file in src/Data/Demographics directory
demographic_2013_2014 = pd.read_sas("../Data/Demographics/DEMO_H.XPT")
pd.set_option('display.max_columns', None)
demographic_2013_2014.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,DMQADFC,DMDBORN4,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDMARTL,RIDEXPRG,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,DMDHHSIZ,DMDFMSIZ,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRGND,DMDHRAGE,DMDHRBR4,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557.0,8.0,2.0,1.0,69.0,NaN,4.0,4.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,3.0,4.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,3.0,3.0,5.397605e-79,5.397605e-79,2.000000e+00,1.0,69.0,1.0,3.0,4.0,NaN,13281.237386,13481.042095,1.0,112.0,4.0,4.0,0.84
1,73558.0,8.0,2.0,1.0,54.0,NaN,3.0,3.0,1.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,3.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,4.0,4.0,5.397605e-79,2.000000e+00,5.397605e-79,1.0,54.0,1.0,3.0,1.0,1.0,23682.057386,24471.769625,1.0,108.0,7.0,7.0,1.78
2,73559.0,8.0,2.0,1.0,72.0,NaN,3.0,3.0,2.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,4.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,2.0,2.0,5.397605e-79,5.397605e-79,2.000000e+00,1.0,72.0,1.0,4.0,1.0,3.0,57214.803319,57193.285376,1.0,109.0,10.0,10.0,4.51
3,73560.0,8.0,2.0,1.0,9.0,NaN,3.0,3.0,1.0,119.0,NaN,NaN,1.0,1.0,NaN,3.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,4.0,4.0,5.397605e-79,2.000000e+00,5.397605e-79,1.0,33.0,1.0,3.0,1.0,4.0,55201.178592,55766.512438,2.0,109.0,9.0,9.0,2.52
4,73561.0,8.0,2.0,2.0,73.0,NaN,3.0,3.0,1.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,5.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,2.0,2.0,5.397605e-79,5.397605e-79,2.000000e+00,1.0,78.0,1.0,5.0,1.0,5.0,63709.667069,65541.871229,2.0,116.0,15.0,15.0,5.00

In [85]:
# Load BPX_H.xpt file in src/Data/BloodPressure directory
blood_pressure_2013_2014 = pd.read_sas("../Data/BloodPressure/BPX_H.XPT")
pd.set_option('display.max_columns', None)
blood_pressure_2013_2014.head()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4
0,73557.0,1.0,620.0,NaN,NaN,1.0,4.0,86.0,1.0,1.0,140.0,122.0,72.0,2.0,114.0,76.0,2.0,102.0,74.0,2.0,NaN,NaN,NaN
1,73558.0,1.0,766.0,NaN,NaN,1.0,4.0,74.0,1.0,1.0,170.0,156.0,62.0,2.0,160.0,80.0,2.0,156.0,42.0,2.0,NaN,NaN,NaN
2,73559.0,1.0,665.0,NaN,NaN,1.0,4.0,68.0,1.0,1.0,160.0,140.0,90.0,2.0,140.0,76.0,2.0,146.0,80.0,2.0,NaN,NaN,NaN
3,73560.0,1.0,803.0,NaN,NaN,1.0,2.0,64.0,1.0,1.0,130.0,108.0,38.0,2.0,102.0,34.0,2.0,104.0,38.0,2.0,NaN,NaN,NaN
4,73561.0,1.0,949.0,NaN,NaN,1.0,3.0,92.0,1.0,1.0,170.0,136.0,86.0,2.0,134.0,88.0,1.0,142.0,86.0,2.0,NaN,NaN,NaN

In [86]:
# Load GHB_H.xpt file in src/Data/Glycohaemoglobin directory
A1c_2013_2014 = pd.read_sas("../Data/Glycohaemoglobin/GHB_H.XPT")
pd.set_option('display.max_columns', None)
A1c_2013_2014.head()

      SEQN  LBXGH
0  73557.0   13.9
1  73558.0    9.1
2  73559.0    8.9
3  73561.0    4.9
4  73562.0    5.5

In [87]:
# Load TRIGLY_H.xpt file in src/Data/CholesterolLDLTriglyceride directory
LDL_2013_2014 = pd.read_sas("../Data/CholesterolLDLTriglyceride/TRIGLY_H.XPT")
pd.set_option('display.max_columns', None)
LDL_2013_2014.head()

      SEQN      WTSAF2YR  LBXTR  LBDTRSI  LBDLDL  LBDLDLSI
0  73559.0  1.421969e+05   51.0    0.576    56.0     1.448
1  73561.0  1.422660e+05   75.0    0.847   101.0     2.612
2  73564.0  1.340541e+05   64.0    0.723    97.0     2.508
3  73568.0  2.160025e+05   24.0    0.271    67.0     1.733
4  73574.0  5.397605e-79   14.0    0.158    75.0     1.940

In [88]:
HDL_H_2013_2014 = pd.read_sas("../Data/CholesterolHDLTotal/HDL_H.XPT")
pd.set_option('display.max_columns', None)
HDL_H_2013_2014.head()

      SEQN  LBDHDD  LBDHDDSI
0  73557.0    65.0      1.68
1  73558.0    50.0      1.29
2  73559.0    60.0      1.55
3  73560.0    61.0      1.58
4  73561.0    85.0      2.20

In [89]:
TCHOL_H_2013_2014 = pd.read_sas("../Data/CholesterolHDLTotal/TCHOL_H.XPT")
pd.set_option('display.max_columns', None)   
TCHOL_H_2013_2014.head()

      SEQN  LBXTC  LBDTCSI
0  73557.0  167.0     4.32
1  73558.0  170.0     4.40
2  73559.0  126.0     3.26
3  73560.0  168.0     4.34
4  73561.0  201.0     5.20

In [90]:
HDL_Total_2013_2014 = pd.merge(HDL_H_2013_2014, TCHOL_H_2013_2014, on='SEQN')
HDL_Total_2013_2014.head()

      SEQN  LBDHDD  LBDHDDSI  LBXTC  LBDTCSI
0  73557.0    65.0      1.68  167.0     4.32
1  73558.0    50.0      1.29  170.0     4.40
2  73559.0    60.0      1.55  126.0     3.26
3  73560.0    61.0      1.58  168.0     4.34
4  73561.0    85.0      2.20  201.0     5.20

In [91]:
# Load HIQ_H.xpt file in src/Data/HealthInsurance directory
health_insurance_2013_2014 = pd.read_sas("../Data/HealthInsurance/HIQ_H.XPT")
pd.set_option('display.max_columns', None)
health_insurance_2013_2014.head()

,SEQN,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210
0,73557.0,1.0,NaN,15.0,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
1,73558.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,73559.0,1.0,14.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0
3,73560.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,73561.0,1.0,14.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0

In [92]:
# Load HUQ_H.xpt file in src/Data/HospitalUtilizationAccessToCare directory
hospital_utilization_2013_2014 = pd.read_sas("../Data/HospitalUtilizationAccessToCare/HUQ_H.XPT")
pd.set_option('display.max_columns', None)
hospital_utilization_2013_2014.head()

,SEQN,HUQ010,HUQ020,HUQ030,HUQ041,HUQ051,HUQ061,HUQ071,HUD080,HUQ090
0,73557.0,2.0,1.0,1.0,2.0,5.0,NaN,2.0,NaN,2.0
1,73558.0,4.0,2.0,1.0,2.0,5.0,NaN,2.0,NaN,2.0
2,73559.0,3.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0
3,73560.0,2.0,3.0,2.0,NaN,1.0,NaN,2.0,NaN,2.0
4,73561.0,5.0,2.0,1.0,2.0,4.0,NaN,2.0,NaN,2.0

In [93]:
# Load SMQ_H.xpt file in src/Data/SmokingCigaretteUseAdult directory
smoking_2013_2014 = pd.read_sas("../Data/SmokingCigaretteUseAdult/SMQ_H.XPT")
pd.set_option('display.max_columns', None)
smoking_2013_2014.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ078,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ621,SMD630,SMQ661,SMQ665A,SMQ665B,SMQ665C,SMQ665D,SMQ670,SMQ848,SMQ852Q,SMQ852U,SMAQUEX2
0,73557.0,1.0,1.700000e+01,3.0,3.0,4.0,66.0,2.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,73558.0,1.0,5.397605e-79,2.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0
2,73559.0,1.0,2.000000e+01,3.0,40.0,4.0,26.0,3.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,73561.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,73562.0,1.0,1.800000e+01,3.0,16.0,4.0,40.0,5.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [94]:
# Merge all needed files by SEQN 

# List of all dataframes to merge
dataframes = [
    demographic_2013_2014, 
    blood_pressure_2013_2014, 
    A1c_2013_2014, 
    LDL_2013_2014, 
    HDL_Total_2013_2014, 
    health_insurance_2013_2014, 
    hospital_utilization_2013_2014, 
    smoking_2013_2014
]

# Merge all dataframes using reduce
df_nhanes_2013_2014 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), dataframes)
df_nhanes_2013_2014.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,DMQADFC,DMDBORN4,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDMARTL,RIDEXPRG,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,DMDHHSIZ,DMDFMSIZ,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRGND,DMDHRAGE,DMDHRBR4,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,LBXGH,WTSAF2YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBDHDD,LBDHDDSI,LBXTC,LBDTCSI,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210,HUQ010,HUQ020,HUQ030,HUQ041,HUQ051,HUQ061,HUQ071,HUD080,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ078,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ621,SMD630,SMQ661,SMQ665A,SMQ665B,SMQ665C,SMQ665D,SMQ670,SMQ848,SMQ852Q,SMQ852U,SMAQUEX2
0,73557.0,8.0,2.0,1.0,69.0,NaN,4.0,4.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,3.0,4.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,3.0,3.0,5.397605e-79,5.397605e-79,2.000000e+00,1.0,69.0,1.0,3.0,4.0,NaN,13281.237386,13481.042095,1.0,112.0,4.0,4.0,0.84,1.0,620.0,NaN,NaN,1.0,4.0,86.0,1.0,1.0,140.0,122.0,72.0,2.0,114.0,76.0,2.0,102.0,74.0,2.0,NaN,NaN,NaN,13.9,NaN,NaN,NaN,NaN,NaN,65.0,1.68,167.0,4.32,1.0,NaN,15.0,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,1.0,1.0,2.0,5.0,NaN,2.0,NaN,2.0,1.0,1.700000e+01,3.0,3.0,4.0,66.0,2.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,73558.0,8.0,2.0,1.0,54.0,NaN,3.0,3.0,1.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,3.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,4.0,4.0,5.397605e-79,2.000000e+00,5.397605e-79,1.0,54.0,1.0,3.0,1.0,1.0,23682.057386,24471.769625,1.0,108.0,7.0,7.0,1.78,1.0,766.0,NaN,NaN,1.0,4.0,74.0,1.0,1.0,170.0,156.0,62.0,2.0,160.0,80.0,2.0,156.0,42.0,2.0,NaN,NaN,NaN,9.1,NaN,NaN,NaN,NaN,NaN,50.0,1.29,170.0,4.40,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,1.0,2.0,5.0,NaN,2.0,NaN,2.0,1.0,5.397605e-79,2.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0
2,73559.0,8.0,2.0,1.0,72.0,NaN,3.0,3.0,2.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,4.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,2.0,2.0,5.397605e-79,5.397605e-79,2.000000e+00,1.0,72.0,1.0,4.0,1.0,3.0,57214.803319,57193.285376,1.0,109.0,10.0,10.0,4.51,1.0,665.0,NaN,NaN,1.0,4.0,68.0,1.0,1.0,160.0,140.0,90.0,2.0,140.0,76.0,2.0,146.0,80.0,2.0,NaN,NaN,NaN,8.9,142196.890197,51.0,0.576,56.0,1.448,60.0,1.55,126.0,3.26,1.0,14.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,3.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0,1.0,2.000000e+01,3.0,40.0,4.0,26.0,3.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,73560.0,8.0,2.0,1.0,9.0,NaN,3.0,3.0,1.0,119.0,NaN,NaN,1.0,1.0,NaN,3.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,4.0,4.0,5.397605e-79,2.000000e+00,5.397605e-79,1.0,33.0,1.0,3.0,1.0,4.0,55201.178592,55766.512438,2.0,109.0,9.0,9.0,2.52,1.0,803.0,NaN,NaN,1.0,2.0,64.0,1.0,1.0,130.0,108.0,38.0,2.0,102.0,34.0,2.0,104.0,38.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,1.58,168.0,4.34,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,3.0,2.0,NaN,1.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561.0,8.0,2.0,2.0,73.0,NaN,3.0,3.0,1.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,5.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,2.0,2.0,5.397605e-79,5.397605e-79,2.000000e+00,1.0,78.0,1.0,5.0,1.0,5.0,63709.667069,65541.871229,2.0,116.0,15.0,15.0,5.00,1.0,949.0,NaN,NaN,1.0,3.0,92.0,1.0,1.0,170.0,136.0,86.0,2.0,134.0,88.0,1.0,142.0,86.0,2.0,NaN,NaN,NaN,4.9,142266.006548,75.0,0.847,101.0,2.612,85.0,2.20,201.0,5.20,1.0,14.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,5.0,2.0,1.0,2.0,4.0,NaN,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [95]:
df_nhanes_2013_2014.shape

(10175, 135)

## 2015 - 2016

In [96]:
# Load DEMO_I.xpt file in src/Data/Demographics directory
demographic_2015_2016 = pd.read_sas("../Data/Demographics/DEMO_I.XPT")
pd.set_option('display.max_columns', None)
demographic_2015_2016.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,DMQADFC,DMDBORN4,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDMARTL,RIDEXPRG,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,DMDHHSIZ,DMDFMSIZ,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRGND,DMDHRAGE,DMDHRBR4,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,5.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,5.397605e-79,5.397605e-79,1.000000e+00,1.0,62.0,1.0,5.0,1.0,3.0,134671.370419,135629.507405,1.0,125.0,10.0,10.0,4.39
1,83733.0,9.0,2.0,1.0,53.0,NaN,3.0,3.0,1.0,NaN,2.0,NaN,2.0,2.0,7.0,NaN,3.0,3.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,5.397605e-79,1.0,53.0,2.0,3.0,3.0,NaN,24328.560239,25282.425927,1.0,125.0,4.0,4.0,1.32
2,83734.0,9.0,2.0,1.0,78.0,NaN,3.0,3.0,2.0,NaN,1.0,2.0,1.0,1.0,NaN,NaN,3.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,2.0,2.0,5.397605e-79,5.397605e-79,2.000000e+00,2.0,79.0,1.0,3.0,1.0,3.0,12400.008522,12575.838818,1.0,131.0,5.0,5.0,1.51
3,83735.0,9.0,2.0,2.0,56.0,NaN,3.0,3.0,2.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,5.0,6.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,5.397605e-79,2.0,56.0,1.0,5.0,6.0,NaN,102717.995647,102078.634508,1.0,131.0,10.0,10.0,5.00
4,83736.0,9.0,2.0,2.0,42.0,NaN,4.0,4.0,2.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,4.0,3.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,5.397605e-79,2.000000e+00,5.397605e-79,2.0,42.0,1.0,4.0,3.0,NaN,17627.674984,18234.736219,2.0,126.0,7.0,7.0,1.23

In [97]:
# Load BPX_I.xpt file in src/Data/BloodPressure directory
blood_pressure_2015_2016 = pd.read_sas("../Data/BloodPressure/BPX_I.XPT")
pd.set_option('display.max_columns', None)
blood_pressure_2015_2016.head()

,SEQN,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4
0,83732.0,NaN,NaN,1.0,4.0,76.0,1.0,1.0,150.0,128.0,70.0,2.0,124.0,64.0,2.0,116.0,62.0,2.0,NaN,NaN,NaN
1,83733.0,NaN,NaN,1.0,4.0,72.0,1.0,1.0,170.0,146.0,88.0,2.0,140.0,88.0,2.0,134.0,82.0,2.0,NaN,NaN,NaN
2,83734.0,NaN,NaN,1.0,4.0,56.0,1.0,1.0,160.0,138.0,46.0,2.0,132.0,44.0,2.0,136.0,46.0,2.0,NaN,NaN,NaN
3,83735.0,NaN,NaN,1.0,5.0,78.0,1.0,1.0,150.0,132.0,72.0,2.0,134.0,68.0,2.0,136.0,70.0,2.0,NaN,NaN,NaN
4,83736.0,NaN,NaN,1.0,3.0,76.0,1.0,1.0,130.0,100.0,70.0,2.0,114.0,54.0,2.0,98.0,56.0,2.0,NaN,NaN,NaN

In [98]:
# Load GHB_I.xpt file in src/Data/Glycohaemoglobin directory
A1c_2015_2016 = pd.read_sas("../Data/Glycohaemoglobin/GHB_I.XPT")
pd.set_option('display.max_columns', None)
A1c_2015_2016.head()

      SEQN  LBXGH
0  83732.0    7.0
1  83733.0    5.5
2  83734.0    5.8
3  83735.0    5.6
4  83736.0    5.6

In [99]:
# Load TRIGLY_I.xpt file in src/Data/CholesterolLDLTriglyceride directory
LDL_2015_2016 = pd.read_sas("../Data/CholesterolLDLTriglyceride/TRIGLY_I.XPT")
pd.set_option('display.max_columns', None)
LDL_2015_2016.head()

      SEQN       WTSAF2YR  LBXTR  LBDTRSI  LBDLDL  LBDLDLSI
0  83733.0   54722.343330  147.0    1.660   173.0     4.474
1  83734.0   25471.093699  269.0    3.037   145.0     3.750
2  83736.0   38179.510870   47.0    0.531   142.0     3.672
3  83737.0   25800.845631   46.0    0.519   103.0     2.664
4  83741.0  108751.289086   68.0    0.768   102.0     2.638

In [100]:
HDL_I_2015_2016 = pd.read_sas("../Data/CholesterolHDLTotal/HDL_I.XPT")
pd.set_option('display.max_columns', None)
HDL_I_2015_2016.head()

      SEQN  LBDHDD  LBDHDDSI
0  83732.0    46.0      1.19
1  83733.0    63.0      1.63
2  83734.0    30.0      0.78
3  83735.0    61.0      1.58
4  83736.0    53.0      1.37

In [101]:
TCHOL_I_2015_2016 = pd.read_sas("../Data/CholesterolHDLTotal/TCHOL_I.XPT")
pd.set_option('display.max_columns', None)   
TCHOL_I_2015_2016.head()

      SEQN  LBXTC  LBDTCSI
0  83732.0  173.0     4.47
1  83733.0  265.0     6.85
2  83734.0  229.0     5.92
3  83735.0  174.0     4.50
4  83736.0  204.0     5.28

In [102]:
HDL_Total_2015_2016 = pd.merge(HDL_I_2015_2016, TCHOL_I_2015_2016, on='SEQN')
HDL_Total_2015_2016.head()

      SEQN  LBDHDD  LBDHDDSI  LBXTC  LBDTCSI
0  83732.0    46.0      1.19  173.0     4.47
1  83733.0    63.0      1.63  265.0     6.85
2  83734.0    30.0      0.78  229.0     5.92
3  83735.0    61.0      1.58  174.0     4.50
4  83736.0    53.0      1.37  204.0     5.28

In [103]:
# Load HIQ_I.xpt file in src/Data/HealthInsurance directory
health_insurance_2015_2016 = pd.read_sas("../Data/HealthInsurance/HIQ_I.XPT")
pd.set_option('display.max_columns', None)
health_insurance_2015_2016.head()

,SEQN,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210
0,83732.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
1,83733.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,83734.0,1.0,14.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0
3,83735.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,83736.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0

In [104]:
# Load HUQ_I.xpt file in src/Data/HospitalUtilizationAccessToCare directory
hospital_utilization_2015_2016 = pd.read_sas("../Data/HospitalUtilizationAccessToCare/HUQ_I.XPT")
pd.set_option('display.max_columns', None)
hospital_utilization_2015_2016.head()

,SEQN,HUQ010,HUQ020,HUQ030,HUQ041,HUQ051,HUQ061,HUQ071,HUD080,HUQ090
0,83732.0,3.0,2.0,1.0,1.0,5.000000e+00,NaN,2.0,NaN,2.0
1,83733.0,2.0,3.0,1.0,6.0,5.397605e-79,6.0,2.0,NaN,2.0
2,83734.0,4.0,3.0,1.0,5.0,2.000000e+00,NaN,2.0,NaN,2.0
3,83735.0,2.0,3.0,1.0,2.0,4.000000e+00,NaN,2.0,NaN,1.0
4,83736.0,5.0,2.0,1.0,1.0,2.000000e+00,NaN,2.0,NaN,2.0

In [105]:
# Load SMQ_I.xpt file in src/Data/SmokingCigaretteUseAdult directory
smoking_2015_2016 = pd.read_sas("../Data/SmokingCigaretteUseAdult/SMQ_I.XPT")
pd.set_option('display.max_columns', None)
smoking_2015_2016.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ078,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ621,SMD630,SMQ661,SMQ665A,SMQ665B,SMQ665C,SMQ665D,SMQ670,SMQ848,SMQ852Q,SMQ852U,SMQ925,SMQ930,SMQ935,SMQ080,SMQ890,SMQ895,SMQ900,SMQ905,SMQ910,SMQ915,SMAQUEX2
0,83732.0,1.0,22.0,3.0,22.0,4.0,40.0,20.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,1.0,5.397605e-79,1.0
1,83733.0,1.0,20.0,1.0,NaN,NaN,NaN,NaN,2.0,30.0,20.0,1.0,b'* NO MATCH *',b'MG AMERICAN BLEND',1.0,5.397605e-79,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.000000e+01,2.0,NaN,2.0,NaN,1.0
2,83734.0,1.0,14.0,3.0,16.0,4.0,61.0,30.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.397605e-79,2.0,NaN,1.0,5.397605e-79,1.0
3,83735.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7.0,3.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0
4,83736.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,7.000000e+00,2.0,NaN,2.0,NaN,1.0

In [106]:
# Merge all needed files by SEQN 

# List of all dataframes to merge
dataframes = [
    demographic_2015_2016, 
    blood_pressure_2015_2016, 
    A1c_2015_2016, 
    LDL_2015_2016, 
    HDL_Total_2015_2016, 
    health_insurance_2015_2016, 
    hospital_utilization_2015_2016, 
    smoking_2015_2016
]

# Merge all dataframes using reduce
df_nhanes_2015_2016 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), dataframes)
df_nhanes_2015_2016.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,DMQADFC,DMDBORN4,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDMARTL,RIDEXPRG,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,DMDHHSIZ,DMDFMSIZ,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRGND,DMDHRAGE,DMDHRBR4,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,LBXGH,WTSAF2YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBDHDD,LBDHDDSI,LBXTC,LBDTCSI,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210,HUQ010,HUQ020,HUQ030,HUQ041,HUQ051,HUQ061,HUQ071,HUD080,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ078,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ621,SMD630,SMQ661,SMQ665A,SMQ665B,SMQ665C,SMQ665D,SMQ670,SMQ848,SMQ852Q,SMQ852U,SMQ925,SMQ930,SMQ935,SMQ080,SMQ890,SMQ895,SMQ900,SMQ905,SMQ910,SMQ915,SMAQUEX2
0,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,5.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,5.397605e-79,5.397605e-79,1.000000e+00,1.0,62.0,1.0,5.0,1.0,3.0,134671.370419,135629.507405,1.0,125.0,10.0,10.0,4.39,NaN,NaN,1.0,4.0,76.0,1.0,1.0,150.0,128.0,70.0,2.0,124.0,64.0,2.0,116.0,62.0,2.0,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,46.0,1.19,173.0,4.47,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,2.0,1.0,1.0,5.000000e+00,NaN,2.0,NaN,2.0,1.0,22.0,3.0,22.0,4.0,40.0,20.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,1.0,5.397605e-79,1.0
1,83733.0,9.0,2.0,1.0,53.0,NaN,3.0,3.0,1.0,NaN,2.0,NaN,2.0,2.0,7.0,NaN,3.0,3.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,5.397605e-79,1.0,53.0,2.0,3.0,3.0,NaN,24328.560239,25282.425927,1.0,125.0,4.0,4.0,1.32,NaN,NaN,1.0,4.0,72.0,1.0,1.0,170.0,146.0,88.0,2.0,140.0,88.0,2.0,134.0,82.0,2.0,NaN,NaN,NaN,5.5,54722.343330,147.0,1.660,173.0,4.474,63.0,1.63,265.0,6.85,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,1.0,6.0,5.397605e-79,6.0,2.0,NaN,2.0,1.0,20.0,1.0,NaN,NaN,NaN,NaN,2.0,30.0,20.0,1.0,b'* NO MATCH *',b'MG AMERICAN BLEND',1.0,5.397605e-79,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.000000e+01,2.0,NaN,2.0,NaN,1.0
2,83734.0,9.0,2.0,1.0,78.0,NaN,3.0,3.0,2.0,NaN,1.0,2.0,1.0,1.0,NaN,NaN,3.0,1.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,2.0,2.0,5.397605e-79,5.397605e-79,2.000000e+00,2.0,79.0,1.0,3.0,1.0,3.0,12400.008522,12575.838818,1.0,131.0,5.0,5.0,1.51,NaN,NaN,1.0,4.0,56.0,1.0,1.0,160.0,138.0,46.0,2.0,132.0,44.0,2.0,136.0,46.0,2.0,NaN,NaN,NaN,5.8,25471.093699,269.0,3.037,145.0,3.750,30.0,0.78,229.0,5.92,1.0,14.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,4.0,3.0,1.0,5.0,2.000000e+00,NaN,2.0,NaN,2.0,1.0,14.0,3.0,16.0,4.0,61.0,30.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.397605e-79,2.0,NaN,1.0,5.397605e-79,1.0
3,83735.0,9.0,2.0,2.0,56.0,NaN,3.0,3.0,2.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,5.0,6.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,5.397605e-79,2.0,56.0,1.0,5.0,6.0,NaN,102717.995647,102078.634508,1.0,131.0,10.0,10.0,5.00,NaN,NaN,1.0,5.0,78.0,1.0,1.0,150.0,132.0,72.0,2.0,134.0,68.0,2.0,136.0,70.0,2.0,NaN,NaN,NaN,5.6,NaN,NaN,NaN,NaN,NaN,61.0,1.58,174.0,4.50,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,3.0,1.0,2.0,4.000000e+00,NaN,2.0,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7.0,3.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0
4,83736.0,9.0,2.0,2.0,42.0,NaN,4.0,4.0,2.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,4.0,3.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,5.397605e-79,2.000000e+00,5.397605e-79,2.0,42.0,1.0,4.0,3.0,NaN,17627.674984,18234.736219,2.0,126.0,7.0,7.0,1.23,NaN,NaN,1.0,3.0,76.0,1.0,1.0,130.0,100.0,70.0,2.0,114.0,54.0,2.0,98.0,56.0,2.0,NaN,NaN,NaN,5.6,38179.510870,47.0,0.531,142.0,3.672,53.0,1.37,204.0,5.28,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,5.0,2.0,1.0,1.0,2.000000e+00,NaN,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,7.000000e+00,2.0,NaN,2.0,NaN,1.0

In [107]:
df_nhanes_2015_2016.shape

(9971, 143)

## 2017 - 2018

In [108]:
# Load DEMO_J.xpt file in src/Data/Demographics directory
demographic_2017_2018 = pd.read_sas("../Data/Demographics/DEMO_J.XPT")
pd.set_option('display.max_columns', None)
demographic_2017_2018.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,DMQADFC,DMDBORN4,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDMARTL,RIDEXPRG,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,DMDHHSIZ,DMDFMSIZ,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRGND,DMDHRAGZ,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,93703.0,10.0,2.0,2.0,2.0,NaN,5.0,6.0,2.0,27.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,5.0,5.0,3.000000e+00,5.397605e-79,5.397605e-79,1.0,2.0,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,15.0,15.0,5.00
1,93704.0,10.0,2.0,1.0,2.0,NaN,3.0,3.0,1.0,33.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,4.0,4.0,2.000000e+00,5.397605e-79,5.397605e-79,1.0,2.0,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,15.0,15.0,5.00
2,93705.0,10.0,2.0,2.0,66.0,NaN,4.0,4.0,2.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,2.0,3.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,1.000000e+00,2.0,4.0,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,3.0,3.0,0.82
3,93706.0,10.0,2.0,1.0,18.0,NaN,5.0,6.0,2.0,222.0,2.0,NaN,1.0,1.0,NaN,15.0,NaN,NaN,NaN,1.0,2.0,2.0,NaN,NaN,NaN,1.0,2.0,2.0,1.0,5.0,5.0,5.397605e-79,5.397605e-79,1.000000e+00,1.0,4.0,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN
4,93707.0,10.0,2.0,1.0,13.0,NaN,5.0,7.0,2.0,158.0,NaN,NaN,1.0,1.0,NaN,6.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,7.0,7.0,5.397605e-79,3.000000e+00,5.397605e-79,1.0,3.0,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,10.0,10.0,1.88

In [109]:
# Load BPX_J.xpt file in src/Data/BloodPressure directory
blood_pressure_2017_2018 = pd.read_sas("../Data/BloodPressure/BPX_J.XPT")
pd.set_option('display.max_columns', None)
blood_pressure_2017_2018.head()

,SEQN,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4
0,93703.0,NaN,120.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,93704.0,NaN,114.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,93705.0,NaN,NaN,1.0,4.0,52.0,1.0,1.0,220.0,NaN,NaN,NaN,NaN,NaN,NaN,202.0,62.0,2.0,198.0,74.0,2.0
3,93706.0,NaN,NaN,1.0,3.0,82.0,1.0,1.0,140.0,112.0,74.0,2.0,114.0,70.0,2.0,108.0,76.0,2.0,NaN,NaN,NaN
4,93707.0,NaN,NaN,1.0,2.0,100.0,1.0,1.0,140.0,128.0,38.0,2.0,128.0,46.0,2.0,128.0,58.0,2.0,NaN,NaN,NaN

In [110]:
# Load GHB_J.xpt file in src/Data/Glycohaemoglobin directory
A1c_2017_2018 = pd.read_sas("../Data/Glycohaemoglobin/GHB_J.XPT")
pd.set_option('display.max_columns', None)
A1c_2017_2018.head()

      SEQN  LBXGH
0  93705.0    6.2
1  93706.0    5.2
2  93707.0    5.6
3  93708.0    6.2
4  93709.0    6.3

In [111]:
# Load TRIGLY_J.xpt file in src/Data/CholesterolLDLTriglyceride directory
LDL_2017_2018 = pd.read_sas("../Data/CholesterolLDLTriglyceride/TRIGLY_J.XPT")
pd.set_option('display.max_columns', None)
LDL_2017_2018.head()

,SEQN,WTSAF2YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBDLDLM,LBDLDMSI,LBDLDLN,LBDLDNSI
0,93708.0,2.565368e+04,58.0,0.655,109.0,2.819,107.0,2.767,111.0,2.870
1,93711.0,2.922605e+04,48.0,0.542,156.0,4.034,152.0,3.931,158.0,4.086
2,93717.0,1.371510e+05,102.0,1.152,140.0,3.620,138.0,3.569,142.0,3.672
3,93718.0,5.888331e+04,46.0,0.519,80.0,2.069,77.0,1.991,79.0,2.043
4,93719.0,5.397605e-79,80.0,0.903,35.0,0.905,35.0,0.905,35.0,0.905

In [112]:
HDL_J_2017_2018 = pd.read_sas("../Data/CholesterolHDLTotal/HDL_J.XPT")
pd.set_option('display.max_columns', None)
HDL_J_2017_2018.head()

      SEQN  LBDHDD  LBDHDDSI
0  93705.0    60.0      1.55
1  93706.0    47.0      1.22
2  93707.0    68.0      1.76
3  93708.0    88.0      2.28
4  93709.0    65.0      1.68

In [113]:
TCHOL_J_2017_2018 = pd.read_sas("../Data/CholesterolHDLTotal/TCHOL_J.XPT")
pd.set_option('display.max_columns', None)   
TCHOL_J_2017_2018.head()

      SEQN  LBXTC  LBDTCSI
0  93705.0  157.0     4.06
1  93706.0  148.0     3.83
2  93707.0  189.0     4.89
3  93708.0  209.0     5.40
4  93709.0  176.0     4.55

In [114]:
HDL_Total_2017_2018 = pd.merge(HDL_J_2017_2018, TCHOL_J_2017_2018, on='SEQN')
HDL_Total_2017_2018.head()

      SEQN  LBDHDD  LBDHDDSI  LBXTC  LBDTCSI
0  93705.0    60.0      1.55  157.0     4.06
1  93706.0    47.0      1.22  148.0     3.83
2  93707.0    68.0      1.76  189.0     4.89
3  93708.0    88.0      2.28  209.0     5.40
4  93709.0    65.0      1.68  176.0     4.55

In [115]:
# Load HIQ_J.xpt file in src/Data/HealthInsurance directory
health_insurance_2017_2018 = pd.read_sas("../Data/HealthInsurance/HIQ_J.XPT")
pd.set_option('display.max_columns', None)
health_insurance_2017_2018.head()

,SEQN,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210
0,93703.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
1,93704.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
2,93705.0,1.0,NaN,15.0,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0
3,93706.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,93707.0,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0

In [116]:
# Load HUQ_J.xpt file in src/Data/HospitalUtilizationAccessToCare directory
hospital_utilization_2017_2018 = pd.read_sas("../Data/HospitalUtilizationAccessToCare/HUQ_J.XPT")
pd.set_option('display.max_columns', None)
hospital_utilization_2017_2018.head()

,SEQN,HUQ010,HUQ020,HUQ030,HUQ041,HUQ051,HUQ061,HUQ071,HUD080,HUQ090
0,93703.0,1.0,3.0,1.0,2.0,3.0,NaN,2.0,NaN,NaN
1,93704.0,1.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,NaN
2,93705.0,3.0,3.0,1.0,1.0,2.0,NaN,2.0,NaN,2.0
3,93706.0,1.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0
4,93707.0,3.0,3.0,1.0,2.0,1.0,NaN,2.0,NaN,1.0

In [117]:
# Load SMQ_J.xpt file in src/Data/SmokingCigaretteUseAdult directory
smoking_2017_2018 = pd.read_sas("../Data/SmokingCigaretteUseAdult/SMQ_J.XPT")
pd.set_option('display.max_columns', None)
smoking_2017_2018.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD057,SMQ078,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ621,SMD630,SMQ661,SMQ665A,SMQ665B,SMQ665C,SMQ665D,SMQ670,SMQ848,SMQ852Q,SMQ852U,SMQ890,SMQ895,SMQ900,SMQ905,SMQ910,SMQ915,SMAQUEX2
0,93705.0,1.0,16.0,3.0,30.0,4.0,5.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0
1,93706.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0
2,93707.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,93708.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0
4,93709.0,1.0,15.0,1.0,NaN,NaN,NaN,1.0,30.0,5.0,1.0,b'* NO MATCH *',b'WAVE GREEN',1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,5.397605e-79,1.0,5.397605e-79,1.0,5.397605e-79,1.0

In [118]:
# Merge all needed files by SEQN 

# List of all dataframes to merge
dataframes = [
    demographic_2017_2018, 
    blood_pressure_2017_2018, 
    A1c_2017_2018, 
    LDL_2017_2018, 
    HDL_Total_2017_2018, 
    health_insurance_2017_2018, 
    hospital_utilization_2017_2018, 
    smoking_2017_2018
]

# Merge all dataframes using reduce
df_nhanes_2017_2018 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), dataframes)
df_nhanes_2017_2018.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,DMQADFC,DMDBORN4,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDMARTL,RIDEXPRG,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,DMDHHSIZ,DMDFMSIZ,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRGND,DMDHRAGZ,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,LBXGH,WTSAF2YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBDLDLM,LBDLDMSI,LBDLDLN,LBDLDNSI,LBDHDD,LBDHDDSI,LBXTC,LBDTCSI,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,HIQ210,HUQ010,HUQ020,HUQ030,HUQ041,HUQ051,HUQ061,HUQ071,HUD080,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD057,SMQ078,SMD641,SMD650,SMD093,SMDUPCA,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ621,SMD630,SMQ661,SMQ665A,SMQ665B,SMQ665C,SMQ665D,SMQ670,SMQ848,SMQ852Q,SMQ852U,SMQ890,SMQ895,SMQ900,SMQ905,SMQ910,SMQ915,SMAQUEX2
0,93703.0,10.0,2.0,2.0,2.0,NaN,5.0,6.0,2.0,27.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,5.0,5.0,3.000000e+00,5.397605e-79,5.397605e-79,1.0,2.0,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,15.0,15.0,5.00,NaN,120.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,3.0,1.0,2.0,3.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,93704.0,10.0,2.0,1.0,2.0,NaN,3.0,3.0,1.0,33.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,4.0,4.0,2.000000e+00,5.397605e-79,5.397605e-79,1.0,2.0,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,15.0,15.0,5.00,NaN,114.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,93705.0,10.0,2.0,2.0,66.0,NaN,4.0,4.0,2.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,2.0,3.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,1.000000e+00,2.0,4.0,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,3.0,3.0,0.82,NaN,NaN,1.0,4.0,52.0,1.0,1.0,220.0,NaN,NaN,NaN,NaN,NaN,NaN,202.0,62.0,2.0,198.0,74.0,2.0,6.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,1.55,157.0,4.06,1.0,NaN,15.0,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,3.0,3.0,1.0,1.0,2.0,NaN,2.0,NaN,2.0,1.0,16.0,3.0,30.0,4.0,5.0,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0
3,93706.0,10.0,2.0,1.0,18.0,NaN,5.0,6.0,2.0,222.0,2.0,NaN,1.0,1.0,NaN,15.0,NaN,NaN,NaN,1.0,2.0,2.0,NaN,NaN,NaN,1.0,2.0,2.0,1.0,5.0,5.0,5.397605e-79,5.397605e-79,1.000000e+00,1.0,4.0,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN,NaN,NaN,1.0,3.0,82.0,1.0,1.0,140.0,112.0,74.0,2.0,114.0,70.0,2.0,108.0,76.0,2.0,NaN,NaN,NaN,5.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,1.22,148.0,3.83,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0
4,93707.0,10.0,2.0,1.0,13.0,NaN,5.0,7.0,2.0,158.0,NaN,NaN,1.0,1.0,NaN,6.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,7.0,7.0,5.397605e-79,3.000000e+00,5.397605e-79,1.0,3.0,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,10.0,10.0,1.88,NaN,NaN,1.0,2.0,100.0,1.0,1.0,140.0,128.0,38.0,2.0,128.0,46.0,2.0,128.0,58.0,2.0,NaN,NaN,NaN,5.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,1.76,189.0,4.89,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,3.0,1.0,2.0,1.0,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [119]:
df_nhanes_2017_2018.shape

(9254, 140)

### Cycle Concatenation

In [120]:
# Add cycle column to each dataframe and concatenate row-wise
df_nhanes_list = [
    df_nhanes_1999_2000,
    df_nhanes_2001_2002,
    df_nhanes_2003_2004,
    df_nhanes_2005_2006,
    df_nhanes_2007_2008,
    df_nhanes_2009_2010,
    df_nhanes_2011_2012,
    df_nhanes_2013_2014,
    df_nhanes_2015_2016,
    df_nhanes_2017_2018
]

# Period names corresponding to each dataframe
periods = [
    '1999-2000',
    '2001-2002',
    '2003-2004',
    '2005-2006',
    '2007-2008',
    '2009-2010',
    '2011-2012',
    '2013-2014',
    '2015-2016',
    '2017-2018'
]

# Add cycle column to each dataframe and concatenate
dfs_with_cycle = []
for df, period in zip(df_nhanes_list, periods):
    df_copy = df.copy()
    df_copy['CYCLE'] = period
    dfs_with_cycle.append(df_copy)

# Concatenate all dataframes row-wise (stack them vertically)
df_nhanes_1999_2018 = pd.concat(dfs_with_cycle, ignore_index=True)

In [121]:
# Display the combined dataframe
print(f"Combined dataframe shape: {df_nhanes_1999_2018.shape}")

Combined dataframe shape: (101316, 350)

In [122]:
print(f"First few rows:")
df_nhanes_1999_2018.head(10)

First few rows:

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,DMQMILIT,DMDBORN,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDEDUC,DMDSCHOL,DMDMARTL,DMDHHSIZ,INDHHINC,INDFMINC,INDFMPIR,RIDEXPRG,RIDPREG,DMDHRGND,DMDHRAGE,DMDHRBRN,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTINT4YR,WTMEC2YR,WTMEC4YR,SDMVPSU,SDMVSTRA,SDJ1REPN,DMAETHN,DMARACE,WTMREP01,WTMREP02,WTMREP03,WTMREP04,WTMREP05,WTMREP06,WTMREP07,WTMREP08,WTMREP09,WTMREP10,WTMREP11,WTMREP12,WTMREP13,WTMREP14,WTMREP15,WTMREP16,WTMREP17,WTMREP18,WTMREP19,WTMREP20,WTMREP21,WTMREP22,WTMREP23,WTMREP24,WTMREP25,WTMREP26,WTMREP27,WTMREP28,WTMREP29,WTMREP30,WTMREP31,WTMREP32,WTMREP33,WTMREP34,WTMREP35,WTMREP36,WTMREP37,WTMREP38,WTMREP39,WTMREP40,WTMREP41,WTMREP42,WTMREP43,WTMREP44,WTMREP45,WTMREP46,WTMREP47,WTMREP48,WTMREP49,WTMREP50,WTMREP51,WTMREP52,WTIREP01,WTIREP02,WTIREP03,WTIREP04,WTIREP05,WTIREP06,WTIREP07,WTIREP08,WTIREP09,WTIREP10,WTIREP11,WTIREP12,WTIREP13,WTIREP14,WTIREP15,WTIREP16,WTIREP17,WTIREP18,WTIREP19,WTIREP20,WTIREP21,WTIREP22,WTIREP23,WTIREP24,WTIREP25,WTIREP26,WTIREP27,WTIREP28,WTIREP29,WTIREP30,WTIREP31,WTIREP32,WTIREP33,WTIREP34,WTIREP35,WTIREP36,WTIREP37,WTIREP38,WTIREP39,WTIREP40,WTIREP41,WTIREP42,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXDB,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,BPXSAR,BPXDAR,LBXGH,WTSAF2YR,WTSAF4YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBXTC,LBDTCSI,LBDHDL,LBDHDLSI,HID010,HID030A,HID030B,HID030C,HID030D,HID030E,HID040,HIQ210,HIQ220,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ070,HUD080,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMD070,SMD075,SMD080,SMD090,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ120,SMD130,SMQ140,SMQ143,SMQ145,SMQ150,SMD160,SMQ170,SMQ173,SMQ175,SMQ180,SMD190,SMQ200,SMD203,SMQ205,SMQ210,SMD220,SMQ230,SMD233,SMD235,CYCLE,HUD070,HUQ080,HUQ082,HUQ084,HUQ086,HUQ088A,HUQ088B,HUQ088C,SMQ077,SMD092,SMDUPCA,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,LBXHDD,LBDHDDSI,HUQ071,SMD641,SMD650,SMD093,DMDFMSIZ,LBXAPB,LBDAPBSI,LBDHDD,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,SMQ620,SMD630,SMQ660,SMQ664M,SMQ664C,SMQ664W,SMQ664B,SMQ664O,SMQ666M,SMQ666C,SMQ666K,SMQ666W,SMQ666B,SMQ666S,SMQ666O,SMQ670,SMAQUEX2,DMDBORN2,INDHHIN2,INDFMIN2,DMDHRBR2,RIDRETH3,RIDEXAGY,RIDEXAGM,DMQMILIZ,DMQADFC,DMDBORN4,AIALANGA,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRBR4,SMQ621,HUQ041,HUQ051,HUQ061,SMQ078,SMQ661,SMQ665A,SMQ665B,SMQ665C,SMQ665D,SMQ848,SMQ852Q,SMQ852U,SMQ925,SMQ930,SMQ935,SMQ080,SMQ890,SMQ895,SMQ900,SMQ905,SMQ910,SMQ915,DMDHRAGZ,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,LBDLDLM,LBDLDMSI,LBDLDLN,LBDLDNSI
0,1.0,1.0,2.0,2.0,2.0,2.0,29.0,31.0,4.0,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0,0.86,NaN,NaN,2.0,27.0,1.0,3.0,5.0,NaN,9727.078709,4291.490177,10982.898896,4456.206594,1.0,5.0,19.0,NaN,NaN,11045.788977,1.153766e+04,11052.382347,10981.994952,1.130403e+04,11788.403531,1.098214e+04,11882.032570,1.108238e+04,10910.758054,11152.686308,11368.378721,1.163907e+04,10982.085565,10968.688468,11014.937015,11786.119318,11158.422538,5.397605e-79,10982.853644,11079.763590,10981.331840,10997.244146,10981.440039,10979.467025,11608.248087,10987.995656,11347.581698,11354.100184,1.116879e+04,10988.948660,11108.697491,11057.813142,11120.884136,11885.457494,1.100735e+04,10819.874783,11179.916627,11031.809444,11002.862393,1.147512e+04,10937.054393,11431.548739,11197.627101,10976.246652,11372.168411,1.132356e+04,11145.175931,10990.797087,11728.073781,10927.615791,11655.082962,9787.450653,1.019066e+04,9789.596326,9727.078709,1.012904e+04,10284.424282,9.727079e+03,10436.053876,9.816986e+03,9664.796657,9845.871036,10011.321962,1.023482e+04,9727.078709,9727.078709,9757.028296,10257.405752,9884.906307,5.397605e-79,9727.078709,9789.575929,9727.078709,9727.078709,9727.078709,9727.078709,10244.119262,9757.028296,9953.666336,10026.450542,9.897641e+03,9731.353903,9836.711023,10104.421527,9835.451792,10438.851416,9.749358e+03,9796.889731,9903.459188,9761.917340,9745.268584,1.018304e+04,9694.540278,10094.017100,9912.461855,9727.078709,10041.524113,9.953956e+03,9857.381983,9865.152486,10327.992682,9809.165049,10323.315747,1.0,151.0,5.397605e-79,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,NaN,1.0,3.0,1.0,2.0,3.000000e+00,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1.0,2.0,2.0,1.0,77.0,926.0,926.0,3.0,1.0,1.0,1.0,1.0,NaN,NaN,5.0,3.0,NaN,NaN,1.0,8.0,8.0,5.00,NaN,NaN,1.0,77.0,1.0,5.0,NaN,NaN,26678.636376,14203.335998,28325.384898,15336.199717,3.0,1.0,36.0,NaN,NaN,28595.040267,2.848781e+04,28277.212462,28428.863410,2.868951e+04,28554.443486,2.895383e+04,28865.193352,2.881615e+04,29009.334987,29511.004111,28799.450760,2.852026e+04,28824.621526,29838.478522,29014.725094,28886.146010,28570.071060,2.917548e+04,28406.076068,28540.729067,28382.112985,28669.314178,29011.196680,28374.504042,28662.460256,29861.914559,28771.558452,28798.755746,2.887700e+04,28493.224258,29903.412316,29153.224951,28503.964835,28443.983215,5.397605e-79,28467.040801,29037.400734,29042.380302,28435.895232,2.911036e+04,29373.664736,28924.957080,29016.385749,29874.143718,29559.795821,2.987449e+04,28364.509723,28525.592280,28965.388416,29143.509564,28705.128975,26923.620662,2.682472e+04,26631.355602,26777.074594,2.701855e+04,26904.614980,2.724130e+04,27198.787165,2.709942e+04,27293.981410,27701.658797,27220.559042,2.687574e+04,27203.215115,28289.913957,27504.820547,27171.693965,26894.201918,2.742468e+04,26730.099404,26885.349161,26732.989332,26939.626877,27208.479126,26716.513970,26979.277637,27961.236425,27519.241428,27120.349327,2.720840e+04,26827.815969,28153.656904,27401.252011,26823.593233,27228.739617,5.397605e-79,26814.710645,27224.136990,27343.860382,26786.594688,2.740426e+04,27595.649515,27186.728682,27324.345051,28099.663528,27757.066921,2.804929e+04,26716.602006,26877.704909,27268.025234,27406.383620,26984.812909,1.0,764.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,3.0,68.0,NaN,1.0,1.0,130.0,106.0,58.0,2.0,98.0,56.0,2.0,98.0,56.0,2.0,NaN,NaN,NaN,98.0,56.0,4.7,60586.147294,33073.267573,128.0,1.45,136.0,3.52,215.0,5.56,54.0,1.39,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,2.0,2.0,1.0,2.0,3.000000e+00,NaN,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.800000e+01,3.0,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1999-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,1.0,2.0,1.0,2.0,10.0,125.0,126.0,3.0,1.0,NaN,3.0,2.0,2.0,3.0,NaN,1.0,1.0,NaN,4.0,6.0,6.0,1.47,NaN,NaN,1.0,37.0,3.0,4.0,1.0,3.0,43621.680548,20123.763507,46192.256945,21258.466625,2.0,7.0,30.0,NaN,NaN,46829.650831,4.630992e+04,46191.687530,46603.585925,4.663838e+04,47073.297625,4.718699e+04,46720.914215,4.737167e+04,46703.108582,48675.068638,47567.231065,4.704279e+04,47095.644034,49158.399643,48733.459258,46662.024729,47012.401548,4.708848e+04,46842.111309,46711.955056,46191.733328,47000.058842,46411.983985,46191.177933,46430.749663,48456.319109,47537.523414,46390.531908,5.397605e-79,46265.548508,48571.404399,46904.271008,46411.338345,47430.195812,4.674089e+04,46191.710629,46798.279423,46940.618480,46353.765213,4.767654e+04,47629.578803,46579.639702,46707.762423,49637.450326,47746.234623,4.672778e+04,46686.213166,47504.119125,47206.143524,48250.803538,46363.581943,44489.186741,4.373667e+04,43621.680548,43964.278092,4.395660e+04,44396.200928,4.443241e+04,44133.062950,4.468484e+04,44304.079445,45711.849140,44886.927689,4.450745e+04,45325.284393,46199.091001,45798.642017,44086.710554,44397.650188,4.469852e+04,44174.267902,44171.403948,43621.680548,44326.006874,43816.318911,43621.680548,43880.912077,45853.267944,44814.551656,43885.337891,5.397605e-79,43691.069032,45952.824543,44150.487123,43800.456021,44709.564994,4.438938e+04,43621.680548,44068.616263,44332.639094,43767.009397,4.488636e+04,45015.720872,43993.193099,44075.386428,46642.563799,44967.681579,4.457248e+04,44087.945688,44831.370881,44480.987235,45389.112766,43781.905637,1.0,571.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,2.0,104.0,NaN,1.0,1.0,140.0,110.0,60.0,2.0,104.0,64.0,2.0,112.0,62.0,2.0,NaN,NaN,NaN,108.0,63.0,NaN,121969.841152,52434.225472,202.0,2.28,58.0,1.50,129.0,3.34,30.0,0.78,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,NaN,1.0,1.0,1.0,1.0,1.000000e+00,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1.0,2.0,2.0,1.0,1.0,22.0,23.0,4.0,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0,3.0,3.0,0.57,NaN,NaN,2.0,34.0,1.0,3.0,4.0,NaN,10346.119327,4582.132308,10251.260020,4562.389068,1.0,2.0,47.0,NaN,NaN,10301.751273,1.069377e+04,10316.455470,10250.416293,1.076524e+04,10631.594178,1.025056e+04,10846.616356,1.038973e+04,10419.681777,10410.644323,10470.139201,1.078056e+04,10250.500870,10237.996237,10266.450218,10776.922385,10385.185006,1.037302e+04,10251.217782,10444.978546,10249.797355,10264.649643,10249.898346,10248.056767,10803.698074,10241.339579,10440.220583,10574.666953,1.040287e+04,10201.964104,10343.807786,10524.956397,10345.462617,11236.714805,1.027408e+04,10288.780888,10454.650385,10263.959697,10276.952973,1.067099e+04,10279.076569,10601.255337,10425.580214,10245.050923,10542.918217,5.397605e-79,10431.037828,10530.151957,10753.405668,10479.950791,10910.423979,10401.969958,1.079897e+04,10412.615626,10346.119327,1.086858e+04,10734.329598,1.034612e+04,10932.388632,1.048739e+04,10517.698395,10473.303671,10568.957408,1.086580e+04,10346.119327,10346.119327,10363.133043,10829.240722,10483.497790,1.047042e+04,10346.119327,10526.899335,10346.119327,10346.119327,10346.119327,10346.119327,10890.470386,10363.133043,10540.663427,10677.139838,1.051805e+04,10294.998516,10437.525742,10607.706557,10438.987278,11355.685406,1.036982e+04,10385.567911,10552.965472,10365.897561,10372.591868,1.077867e+04,10382.677829,10702.307249,10531.444441,10346.119327,10636.063039,5.397605e-79,10533.108939,10654.749584,10851.024385,10564.981435,11012.529729,1.0,47.0,5.397605e-79,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,NaN,1.0,3.0,1.0,1.0,2.000000e+00,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1.0,2.0,2.0,1.0,49.0,597.0,597.0,3.0,1.0,1.0,1.0,1.0,NaN,NaN,5.0,3.0,NaN,1.0,3.0,11.0,11.0,5.00,NaN,NaN,2.0,42.0,3.0,4.0,1.0,NaN,91050.846620,44161.868201,99445.065735,45985.967832,2.0,8.0,41.0,NaN,NaN,100344.688569,1.002132e+05,99530.738054,100036.557675,1.007898e+05,101061.234761,1.018830e+05,101117.974792,1.008690e+05,101768.139216,102611.941501,101829.651910,1.000988e+05,102463.971064,105667.423164,103689.537439,101531.848279,100611.625682,1.017036e+05,99669.791621,101050.557577,99652.446631,100733.782433,100808.842242,99407.846709,100746.355523,103704.535994,102490.776443,100457.202854,1.019610e+05,100093.124217,104829.440463,100117.848632,99981.654408,102828.392647,1.012948e+05,99809.107176,101633.388025,101718.689939,100105.211023,5.397605e-79,103833.940145,102254.001874,99399.906199,104410.645039,103032.836121,1.016651e+05,99740.419843,100050.072063,101733.345824,103321.768919,100585.329837,92772.794506,9.167282e+04,91122.755621,91506.263394,9.234559e+04,92565.813583,9.303632e+04,92649.681845,9.222382e+04,93249.667429,93778.678270,93052.786563,9.169562e+04,93379.450027,96241.872759,94316.888873,92900.827503,91968.725666,9.288344e+04,91175.971314,92439.001497,91243.872236,92173.287237,92329.665486,91020.039828,92251.677139,94752.727316,93798.390387,91963.518231,9.314188e+04,91594.731435,95832.366274,93541.934264,91488.014913,93511.219873,9.348548e+04,91393.204086,92984.639530,93161.374461,91575.034575,5.397605e-79,94484.112911,93164.782430,92119.608772,95388.490406,94131.383538,9.529781e+04,91325.082461,91640.586117,92817.926915,94282.855382,91993.251203,1.0,694.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,4.0,66.0,NaN,1.0,1.0,140.0,122.0,82.0,2.0,122.0,84.0,2.0,122.0,82.0,2.0,NaN,NaN,NaN,122.0,83.0,5.5,234895.205650,98468.806492,347.0,3.92,168.0,4.34,279.0,7.21,42.0,1.08,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,NaN,2.0,3.0,1.0,2.0,3.000000e+00,NaN,2.0,NaN,2.0,1.0,5.397605e-79,3.0,5.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,5.397605e-79,NaN,NaN,NaN,1999-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6.0,1.0,2.0,2.0,2.0,19.0,230.0,230.0,5.0,4.0,2.0,1.0,1.0,NaN,15.0,NaN,3.0,1.0,5.0,2.0,4.0,3.0,1.21,2.0,2.0,2.0,19.0,1.0,4.0,5.0,NaN,36508.250375,16850.978348,39656.600444,18337.313409,2.0,2.0,7.0,NaN,NaN,40567.344832,3.983851e+04,39656.111595,39900.746630,4.005539e+04,41273.020410,5.397605e-79,40140.727075,4.041506e+04,40206.937823,40768.106211,39675.230434,4.056399e+04,41015.235506,41974.753297,41730.470056,40415.899131,40666.330586,3.979059e+04,40145.735715,40218.943757,39656.150913,40387.491737,39920.554271,39655.674100,39850.420180,41785.925390,41173.058580,38299.990906,4.048173e+04,39722.400626,42857.646663,40429.350321,39816.490668,40514.185105,4.009894e+04,39656.131425,40121.053997,40274.441424,39792.586771,4.108444e+04,40088.720725,40223.145839,40081.731488,42429.396120,41344.983842,4.099348e+04,40051.112545,40798.479783,40328.920746,41468.066786,39965.248048,37416.263918,3.667963e+04,36508.250375,36721.999719,3.679338e+04,37486.462169,5.397605e-79,36936.241148,3.721727e+04,37003.032285,37601.672922,36558.812627,3.740718e+04,37984.425106,38528.715014,38316.318574,37063.485809,37349.932251,3.663210e+04,36923.675967,37074.101244,36508.250375,37170.290735,36643.132874,36508.250375,36725.208765,38561.053822,37833.481980,37058.595391,3.722913e+04,36566.323612,38651.845352,37052.489842,36642.617753,37215.359140,3.694610e+04,36508.250375,36678.059930,37011.846217,36629.880307,3.775621e+04,37894.392458,36948.534618,36855.281734,38998.473111,38022.006518,3.754149e+04,36871.278832,37520.675321,37151.868152,38016.504638,36710.239349,1.0,581.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,2.0,70.0,NaN,1.0,1.0,140.0,116.0,64.0,2.0,116.0,60.0,2.0,112.0,80.0,2.0,NaN,NaN,NaN,114.0,70.0,5.1,NaN,NaN,NaN,NaN,NaN,NaN,153.0,3.96,61.0,1.57,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,2.0,3.0,1.0,1.0,3.000000e+00,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,1.0,2.0,2.0,2.0,59.0,712.0,712.0,4.0,2.0,2.0,1.0,1.0,NaN,NaN,2.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN,2.0,2.0,2.0,59.0,1.0,2.0,1.0,NaN,22352.088620,11912.475671,25525.423409,13396.320362,2.0,4.0,13.0,NaN,NaN,25737.407630,2.801443e+04,25545.364316,25520.215279,2.638142e+04,26551.521780,2.562039e+04,27388.734734,2.573129e+04,25287.917584,25732.626191,26811.643846,5.397605e-79,25515.046462,25635.323055,25588.466009,26873.191311,25930.388436,2.594992e+04,25524.396266,26675.882977,25517.471803,25589.159928,25531.943661,25736.786157,25885.895824,25479.109785,25676.196082,25853.067584,2.608994e+04,25678.915580,25785.333750,25914.924213,25807.842532,27394.615144,2.582681e+04,25518.114884,25769.440414,25927.685589,25553.377370,2.613548e+04,25482.240533,26392.652712,25904.332418,25491.018084,26192.014475,2.569643e+04,26198.686935,26457.141943,26159.883475,26873.942227,27184.432305,22495.112086,2.423817e+04,22375.857551,22352.193701,2.300209e+04,23272.875001,2.245863e+04,23663.582634,2.252190e+04,22829.094548,22442.784677,23302.688799,5.397605e-79,22352.088620,22429.801484,22432.140348,23539.508012,22692.298653,2.280532e+04,22352.088620,23246.406027,22352.088620,22396.496082,22349.258806,22530.394338,22984.429473,22352.088620,22500.406749,22650.063155,2.288962e+04,22440.299765,22558.967120,22603.834221,22601.239253,23769.588690,2.248770e+04,22352.088620,23270.042761,22605.155271,22381.567288,2.280325e+04,22349.390480,23096.205218,22705.366233,22352.088620,22600.114031,2.327240e+04,22956.903156,23147.059166,22807.008623,23085.785591,23918.402495,1.0,852.0,5.397605e-79,NaN,2.0,2.0,2.0,2.0,1.0,4.0,58.0,NaN,1.0,1.0,160.0,130.0,78.0,2.0,122.0,80.0,2.0,124.0,82.0,2.0,NaN,NaN,NaN,123.0,81.0,5.8,57661.621988,32935.874064,62.0,0.70,127.0,3.28,245.0,6.34,105.0,2.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,1.0,2.0,5.397605e-79,1.0,2.0,NaN,1.0,1.0,1.700000e+01,3.0,20.0,4.0,39.0,20.0,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1999-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
print(f"Last few rows:")
df_nhanes_1999_2018.tail(10)

Last few rows:

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,DMQMILIT,DMDBORN,DMDCITZN,DMDYRSUS,DMDEDUC3,DMDEDUC2,DMDEDUC,DMDSCHOL,DMDMARTL,DMDHHSIZ,INDHHINC,INDFMINC,INDFMPIR,RIDEXPRG,RIDPREG,DMDHRGND,DMDHRAGE,DMDHRBRN,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTINT4YR,WTMEC2YR,WTMEC4YR,SDMVPSU,SDMVSTRA,SDJ1REPN,DMAETHN,DMARACE,WTMREP01,WTMREP02,WTMREP03,WTMREP04,WTMREP05,WTMREP06,WTMREP07,WTMREP08,WTMREP09,WTMREP10,WTMREP11,WTMREP12,WTMREP13,WTMREP14,WTMREP15,WTMREP16,WTMREP17,WTMREP18,WTMREP19,WTMREP20,WTMREP21,WTMREP22,WTMREP23,WTMREP24,WTMREP25,WTMREP26,WTMREP27,WTMREP28,WTMREP29,WTMREP30,WTMREP31,WTMREP32,WTMREP33,WTMREP34,WTMREP35,WTMREP36,WTMREP37,WTMREP38,WTMREP39,WTMREP40,WTMREP41,WTMREP42,WTMREP43,WTMREP44,WTMREP45,WTMREP46,WTMREP47,WTMREP48,WTMREP49,WTMREP50,WTMREP51,WTMREP52,WTIREP01,WTIREP02,WTIREP03,WTIREP04,WTIREP05,WTIREP06,WTIREP07,WTIREP08,WTIREP09,WTIREP10,WTIREP11,WTIREP12,WTIREP13,WTIREP14,WTIREP15,WTIREP16,WTIREP17,WTIREP18,WTIREP19,WTIREP20,WTIREP21,WTIREP22,WTIREP23,WTIREP24,WTIREP25,WTIREP26,WTIREP27,WTIREP28,WTIREP29,WTIREP30,WTIREP31,WTIREP32,WTIREP33,WTIREP34,WTIREP35,WTIREP36,WTIREP37,WTIREP38,WTIREP39,WTIREP40,WTIREP41,WTIREP42,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,BPACSZ,BPXPLS,BPXDB,BPXPULS,BPXPTY,BPXML1,BPXSY1,BPXDI1,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,BPXSAR,BPXDAR,LBXGH,WTSAF2YR,WTSAF4YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBXTC,LBDTCSI,LBDHDL,LBDHDLSI,HID010,HID030A,HID030B,HID030C,HID030D,HID030E,HID040,HIQ210,HIQ220,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ070,HUD080,HUQ090,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMD070,SMD075,SMD080,SMD090,SMD100BR,SMD100FL,SMD100MN,SMD100LN,SMD100TR,SMD100NI,SMD100CO,SMQ120,SMD130,SMQ140,SMQ143,SMQ145,SMQ150,SMD160,SMQ170,SMQ173,SMQ175,SMQ180,SMD190,SMQ200,SMD203,SMQ205,SMQ210,SMD220,SMQ230,SMD233,SMD235,CYCLE,HUD070,HUQ080,HUQ082,HUQ084,HUQ086,HUQ088A,HUQ088B,HUQ088C,SMQ077,SMD092,SMDUPCA,SIALANG,SIAPROXY,SIAINTRP,FIALANG,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,LBXHDD,LBDHDDSI,HUQ071,SMD641,SMD650,SMD093,DMDFMSIZ,LBXAPB,LBDAPBSI,LBDHDD,HIQ011,HIQ031A,HIQ031B,HIQ031C,HIQ031D,HIQ031E,HIQ031F,HIQ031G,HIQ031H,HIQ031I,HIQ031J,HIQ031AA,HIQ260,HIQ105,HIQ270,SMQ620,SMD630,SMQ660,SMQ664M,SMQ664C,SMQ664W,SMQ664B,SMQ664O,SMQ666M,SMQ666C,SMQ666K,SMQ666W,SMQ666B,SMQ666S,SMQ666O,SMQ670,SMAQUEX2,DMDBORN2,INDHHIN2,INDFMIN2,DMDHRBR2,RIDRETH3,RIDEXAGY,RIDEXAGM,DMQMILIZ,DMQADFC,DMDBORN4,AIALANGA,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRBR4,SMQ621,HUQ041,HUQ051,HUQ061,SMQ078,SMQ661,SMQ665A,SMQ665B,SMQ665C,SMQ665D,SMQ848,SMQ852Q,SMQ852U,SMQ925,SMQ930,SMQ935,SMQ080,SMQ890,SMQ895,SMQ900,SMQ905,SMQ910,SMQ915,DMDHRAGZ,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,LBDLDLM,LBDLDMSI,LBDLDLN,LBDLDNSI
101306,102947.0,10.0,2.0,1.0,1.0,75.0,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,NaN,5.0,NaN,NaN,3.0,1.0,NaN,NaN,4.28,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,13379.650721,NaN,1.356396e+04,NaN,2.0,137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,60.0,NaN,1.0,1.0,190.0,160.0,82.0,2.0,150.0,82.0,2.0,152.0,76.0,2.0,NaN,NaN,NaN,NaN,NaN,5.8,32088.472625,NaN,35.0,0.395,66.0,1.707,143.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,19.0,3.0,35.0,4.0,NaN,5.0,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,1.81,2.0,NaN,NaN,NaN,1.0,NaN,NaN,70.0,1.0,14.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,8.0,8.0,NaN,4.0,NaN,NaN,2.0,NaN,1.0,NaN,5.397605e-79,5.397605e-79,1.000000e+00,NaN,NaN,1.0,6.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.397605e-79,2.0,NaN,2.0,NaN,4.0,3.0,2.0,NaN,62.0,1.603,64.0,1.655
101307,102948.0,10.0,2.0,2.0,2.0,31.0,NaN,NaN,3.0,NaN,NaN,NaN,1.0,NaN,NaN,4.0,NaN,NaN,1.0,4.0,NaN,NaN,5.00,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,130481.002757,NaN,1.291443e+05,NaN,1.0,141.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,82.0,NaN,1.0,1.0,120.0,88.0,64.0,2.0,84.0,64.0,2.0,90.0,66.0,2.0,NaN,NaN,NaN,NaN,NaN,5.2,291133.390348,NaN,52.0,0.587,123.0,3.181,209.0,5.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,17.0,3.0,7.0,4.0,NaN,1.0,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,1.97,2.0,NaN,NaN,NaN,4.0,NaN,NaN,76.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,15.0,15.0,NaN,3.0,NaN,NaN,2.0,NaN,1.0,NaN,2.000000e+00,5.397605e-79,5.397605e-79,NaN,NaN,2.0,3.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.397605e-79,2.0,NaN,2.0,NaN,2.0,3.0,1.0,2.0,119.0,3.077,124.0,3.207
101308,102949.0,10.0,2.0,2.0,1.0,33.0,NaN,NaN,3.0,NaN,NaN,NaN,1.0,NaN,NaN,3.0,NaN,NaN,6.0,5.0,NaN,NaN,1.01,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,29334.650205,NaN,3.028719e+04,NaN,2.0,139.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,96.0,NaN,1.0,1.0,150.0,120.0,72.0,2.0,122.0,80.0,2.0,124.0,78.0,2.0,NaN,NaN,NaN,NaN,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN,201.0,5.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,18.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,1.89,2.0,30.0,20.0,4.0,5.0,NaN,NaN,73.0,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,6.0,6.0,NaN,3.0,NaN,NaN,2.0,NaN,1.0,1.0,2.000000e+00,1.000000e+00,5.397605e-79,NaN,NaN,5.0,1.000000e+00,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.397605e-79,2.0,NaN,1.0,5.397605e-79,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN
101309,102950.0,10.0,1.0,NaN,1.0,64.0,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,NaN,3.0,NaN,NaN,1.0,2.0,NaN,NaN,2.13,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,11804.993503,NaN,5.397605e-79,NaN,2.0,136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,4.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,30.0,3.0,14.0,1.0,NaN,10.0,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,19.0,NaN,21.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,7.0,7.0,NaN,4.0,NaN,NaN,1.0,2.0,1.0,NaN,5.397605e-79,5.397605e-79,1.000000e+00,NaN,NaN,2.0,5.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.397605e-79,2.0,NaN,2.0,NaN,3.0,2.0,1.0,2.0,NaN,NaN,NaN,NaN
101310,102951.0,10.0,2.0,2.0,1.0,4.0,NaN,NaN,3.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,1.75,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,34822.138873,NaN,3.559131e+04,NaN,1.0,142.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,7.0,NaN,NaN,NaN,1.0,14.0,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,10.0,NaN,3.0,NaN,57.0,NaN,NaN,1.0,NaN,2.000000e+00,3.000000e+00,5.397605e-79,NaN,NaN,2.0,3.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,1.0,2.0,NaN,NaN,NaN,NaN
101311,102952.0,10.0,2.0,2.0,2.0,70.0,NaN,NaN,5.0,NaN,NaN,NaN,1.0,7.0,NaN,3.0,NaN,NaN,1.0,2.0,NaN,NaN,0.95,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,16896.276203,NaN,1.833871e+04,NaN,2.0,138.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,68.0,NaN,1.0,1.0,150.0,136.0,74.0,2.0,142.0,78.0,2.0,140.0,68.0,2.0,NaN,NaN,NaN,NaN,NaN,7.4,32733.048593,NaN,78.0,0.881,43.0,1.112,119.0,3.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',1.0,2.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,NaN,NaN,1.55,2.0,NaN,NaN,NaN,2.0,NaN,NaN,60.0,1.0,14.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,4.0,4.0,NaN,6.0,NaN,NaN,2.0,NaN,2.0,NaN,5.397605e-79,5.397605e-79,2.000000e+00,NaN,NaN,2.0,2.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,2.0,NaN,4.0,2.0,1.0,1.0,43.0,1.112,43.0,1.112
101312,102953.0,10.0,2.0,2.0,1.0,42.0,NaN,NaN,1.0,NaN,NaN,NaN,2.0,77.0,NaN,3.0,NaN,NaN,4.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,61630.380013,NaN,6.366195e+04,NaN,2.0,137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,78.0,NaN,1.0,1.0,150.0,124.0,76.0,2.0,122.0,76.0,2.0,116.0,74.0,2.0,NaN,NaN,NaN,NaN,NaN,5.9,NaN,NaN,NaN,NaN,NaN,NaN,182.0,4.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,4.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,20.0,3.0,9.0,3.0,NaN,1.0,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,1.27,2.0,NaN,NaN,NaN,1.0,NaN,NaN,49.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,12.0,12.0,NaN,1.0,NaN,NaN,2.0,NaN,2.0,2.0,5.397605e-79,5.397605e-79,5.397605e-79,NaN,NaN,1.0,6.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.397605e-79,1.0,5.397605e-79,1.0,5.397605e-79,3.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
101313,102954.0,10.0,2.0,1.0,2.0,41.0,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,NaN,5.0,NaN,NaN,5.0,7.0,NaN,NaN,1.18,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,17160.895269,NaN,1.769478e+04,NaN,1.0,144.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,78.0,NaN,1.0,1.0,150.0,116.0,66.0,2.0,118.0,72.0,2.0,114.0,74.0,2.0,NaN,NaN,NaN,NaN,NaN,5.2,50637.453793,NaN,49.0,0.553,108.0,2.793,172.0,4.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,1.40,2.0,NaN,NaN,NaN,7.0,NaN,NaN,54.0,1.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,10.0,10.0,NaN,4.0,NaN,NaN,2.0,NaN,1.0,1.0,3.000000e+00,1.000000e+00,5.397605e-79,NaN,NaN,2.0,3.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,2.0,NaN,3.0,2.0,2.0,NaN,104.0,2.689,108.0,2.793
101314,102955.0,10.0,2.0,2.0,2.0,14.0,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,8.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,2.24,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,14238.445922,NaN,1.487184e+04,NaN,1.0,136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,74.0,NaN,1.0,1.0,140.0,114.0,62.0,2.0,114.0,60.0,2.0,114.0,64.0,2.0,NaN,NaN,NaN,NaN,NaN,5.5,NaN,NaN,NaN,NaN,NaN,NaN,150.0,3.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,0.88,2.0,NaN,NaN,NaN,4.0,NaN,NaN,34.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,9.0,9.0,NaN,4.0,NaN,175.0,NaN,NaN,1.0,1.0,5.397605e-79,1.000000e+00,5.397605e-79,NaN,1.0,2.0,5.397605e-79,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,1.0,2.0,NaN,NaN,NaN,NaN
101315,102956.0,10.0,2.0,2.0,1.0,38.0,NaN,NaN,3.0,NaN,NaN,NaN,1.0,NaN,NaN,4.0,NaN,NaN,3.0,5.0,NaN,NaN,1.56,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,38645.740291,NaN,3.942630e+04,NaN,1.0,142.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,76.0,NaN,1.0,1.0,160.0,150.0,98.0,2.0,146.0,92.0,2.0,148.0,98.0,2.0,NaN,NaN,NaN,NaN,NaN,5.4,92330.242983,NaN,269.0,3.037,75.0,1.940,163.0,4.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,4.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,16.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,0.88,2.0,30.0,20.0,4.0,4.0,NaN,NaN,34.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,7.0,7.0,NaN,3.0,NaN,NaN,2.0,NaN,1.0,1.0,5.397605e-79,3.000000e+00,5.397605e-79,NaN,NaN,2.0,8.000000e+00,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,1.0,5.397605e-79,2.0,2.0,2.0,NaN,94.0,2.431,84.0,2.172